<div class="cm-refuse-module">
    <div class="title-area">
		<span>民生</span><i class="fa fa-angle-right title-i" aria-hidden="true"></i><span>{{currentCategoryName}}KPI总览</span>
	</div>
	<div ng-repeat="data in cmRefuseData" ng-click="registerHistory()" ui-sref="app.livehood.detail({kpiId:data.id})" class="cm-refuse-item">
		<div class="cm-refuse-top">
			<span>{{data.name}}</span><i ng-class="data.data.status">{{data.data.status | kpiStatusTextFilter}}</i>
		</div>
		<div class="cm-refuse-value  {{data.data.status | kpiStatusClassFilter}}"><span>{{data | unitTransFilter}}</span></div>
		<div class="cm-refuse-bottom">
			<span class="cm-refuse-bottom-s1">民生</span><span class="cm-refuse-bottom-s2">{{deptname}}</span><span class="cm-refuse-bottom-s3">{{data | applyDateFilter}}</span>
			<span class="cm-refuse-bottom-s4"><i class="fa fa-hand-o-right" aria-hidden="true"></i><span>查看走势</span></span>
		</div>
	</div>
</div>