<div class="pstrnspInfstCnstr-module">
	<div class="d1">
		<div class="bar">
			在建项目
		</div>
		<div class="content">
			<div style="text-align:center;line-height:15px;margin:17px 0;">
				<span style="font-size:15px;">{{underConstructionProjectSelected.prjctName}}</span>
			</div>
			<table class="table">
				<tr>
					<td>开工年月</td>
					<td align="center">合同价</td>
					<td align="right">截止 {{displayYear}}年{{displayMonth}}月末<br>估算累计完成</td>
				</tr>
				<tr>
					<td>{{underConstructionProjectSelected.year}}年{{underConstructionProjectSelected.month}}月</td>
					<td align="center">{{underConstructionProjectSelected.cntrctPrice}}万元</td>
					<td align="right">{{underConstructionProjectSelected.prjctcost}}万元</td>
				</tr>
			</table>
			<div style="text-align:center;line-height:15px;margin:17px 0;">
				<span style="font-size:15px;">在建项目进展情况(截止 {{displayYear}} 年 {{displayMonth}} 月末)</span>
			</div>
			<table class="table">
				<tr>
					<td>项目名称</td>
					<td align="center">进度</td>
					<td align="right">操作</td>
				</tr>
				<tr ng-repeat="underConstructionProject in projectsUnderConstructionList">
					<td>{{underConstructionProject.prjctName}}</td>
					<td align="center">{{underConstructionProject.progressPercentage}}%</td>
					<td align="right"><button type="button" class="btn btn-primary" ng-click="projectsDetails(underConstructionProject)">详情</button></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="d1">
		<div class="bar">
			已完工项目
		</div>
		<div class="content">
			<div style="text-align:center;line-height:15px;margin:17px 0;">
				<span style="font-size:15px;">{{completedProjectSelected.prjctName}}详情</span>
			</div>
			<table class="table">
				<tr>
					<td>开工年月</td>
					<td>合同价</td>
					<td>完工年月</td>
					<td align="right">施工费用合计</td>					
				</tr>
				<tr>
					<td>{{completedProjectSelected.startTime}}</td>
					<td>{{completedProjectSelected.cntrctPrice}}万元</td>
					<td align="center">{{completedProjectSelected.year}}年{{completedProjectSelected.month}}月</td>
					<td align="right">{{completedProjectSelected.addUpCost}}万元</td>
				</tr>
			</table>
			<div style="text-align:center;line-height:15px;margin:17px 0;">
				<span style="font-size:15px;">已完工项目列表(截止 {{displayYear}} 年 {{displayMonth}} 月末)</span>
			</div>
			<div style="overflow: auto; overflow-x:hidden;height: 300px">
				<table class="table">
					<tr>
						<td>项目名称</td>
						<td align="center">备注</td>
						<td align="right">操作</td>
					</tr>
					<tr ng-repeat="project in completedProjectList">
						<td>{{project.prjctName}}</td>
						<td align="center">{{project.remark}}</td>
						<td align="right"><button type="button" class="btn btn-primary" ng-click="projectsDetails2(project)">详情</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>