<div ui-state="activeTab" default="1" >
  <ul class="nav nav-tabs">
    <div style="display: flex;display: -webkit-flex;flex-direction: row;">
    <div style="width: 50%;height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content:center;align-items: center;" class="economyactive" ng-click="tab1()" id="tab1">
      <div>数据详情</div>
    </div> 
    <div style="width: 50%;height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content:center;align-items: center;" class="economyinactive" ng-click="tab2()" id="tab2">
      <div>数据走势</div>
    </div>
  </ul>

  <div ng-if="newtab1">
  <div class="scrollable" style="margin-top: 50px;height:{{newheight}}px"id="container">
  <div class="scrollable-content" >
      <div style="height: 30px; display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <div style="width: 100%;height: 30px;box-shadow: 3px 3px 6px -4px white;border-radius: 5px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <span style="font-size: 2em">投资数据详情</span>
       <span ng-show="false">{{gi = dataMap.InvestData.lastestObject}}</span>
      </div>
      </div>
     <div style="height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
       <span class="label label-primary">统计局</span>
        <span class="label" style="color: black;margin-left: 5px">时间: {{gi.year}} 年 {{gi.month}} 月 </span>
         <span class="label" style="color: black">每月更新</span>
     </div>


      <div class="panel-group" ui-state="myAccordion" ui-default="2">
    <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 2}" style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color:white">
             全社会固定资产投资
          </h4>
          <span ng-show="false">{{gi = dataMap.InvestData.lastestObject}}</span>
        </div>
        <div ui-if="myAccordion == 2">
          <div class="panel-body" >
             <div style="width: 100%;height: 450px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
              <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(127,196,197,.7);color: white" class="economyclick" ng-click="click()"  >
                  <span>本年累计额</span>
                  <span style="font-size: 2em;margin-top: 30px">{{gi.gaccmAmount}}万元</span>
                  <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{gi.glastAccmRate| number:2}}％</span>
                </div>
               <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(92,95,105,.7);color: white" class="economyclick">
                  <span>本年度目标</span>
                  <span style="font-size: 2em;margin-top: 30px">{{gi.gyearTarget}}万元</span>
                  <span style="font-size: 1.5em;margin-top: 40px">完成:{{gi.gyearCompleteRate | number:2}}％</span>
                </div>
              </div>
           </div>
          </div>
        </div>
      </div>
       <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 1}" style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color:white">
             主要分类固定资产投资
          </h4>
           <span ng-show="false">{{gi = dataMap.InvestData.lastestObject}}</span>
        </div>
        <div ui-if="myAccordion == 1">
          <div class="panel-body" >
             <div style="width: 100%;height: 450px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
              <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(116,140,146,.7);color: white" class="economyclick" ng-click="click()"  >
                  <span>本年累计额</span>
                  <span style="font-size: 2em;margin-top: 30px">{{gi.giaccmAmount}}万元</span>
                  <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{gi.gilastAccmRate | number:2}}%</span>
                </div>
               <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(151,87,89,.7);color: white" class="economyclick">
                  <span>本月服务业投资</span>
                  <span style="font-size: 2em;margin-top: 30px">{{gi.gsaccmAmount}}万元</span>
                  <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{gi.gslastAccmRate | number:2}}%</span>
                </div>
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(83,54,68,.7);color: white" class="economyclick">
                 <span>本月房地产投资</span>
                 <span style="font-size: 2em;margin-top: 30px">{{gi.gfaccmAmount}}万元</span>
                <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{gi.gflastAccmRate | number:2}}%</span>
                </div>
              </div>
           </div>
          </div>
        </div>
      </div>
         <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 3}" style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color:white">
             数据名称:引进内外资(累计值)
          </h4>
          <span ng-show="false">{{ci = dataMap.ImportData.lastestObject}}</span>
        </div>
        <div ui-if="myAccordion == 3">
          <div class="panel-body" >
             <div style="width: 100%;height: 450px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
              <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(116,140,146,.7);color: white" class="economyclick" ng-click="click()"  >
                  <span>注册外资</span>
                  <span style="font-size: 2em;margin-top: 30px">{{ci.rAccm}}万美元</span>
                  <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{ci.rAccmRate | number:2}}%</span>
                </div>
               <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(151,87,89,.7);color: white" class="economyclick">
                  <span>实际利用外资</span>
                  <span style="font-size: 2em;margin-top: 30px">{{ci.uAccm}}万美元</span>
                  <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{ci.uAccmRate | number:2}}%</span>
                </div>
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(83,54,68,.7);color: white" class="economyclick">
                 <span>新增注册资金</span>
                 <span style="font-size: 2em;margin-top: 30px">{{ci.addFund}} 万元</span>
                </div>
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(127,196,197,.7);color: white"  class="economyclick">
                  <span>到账资金</span>
                  <span style="font-size: 2em;margin-top: 30px">{{ci.inFund}}万元</span>
                </div> 
              </div>
           </div>
          </div>
        </div>
      </div>
  </div>
   </div>
 
  </div>
  </div>

  <div ng-if="newtab2">
  <div class="scrollable" style="margin-top: 50px;height:{{newheight}}px" id="container2">
  <div class="scrollable-content" ng-click="show()" >
      <div style="height: 30px; display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <div style="width: 100%;height: 30px;box-shadow: 3px 3px 6px -4px white;border-radius: 5px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <span style="font-size: 2em">投资数据全年走势</span>
      </div>
      </div>
     <div style="height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: space-around;align-items: center;">
       <span class="label label-primary">统计局</span>
         <span class="label" style="color: black">每月更新</span>
     </div>
           <div class="panel-group" ui-state="myAccordion" ui-default="2">
    <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 2}" style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color:white">
              全社会固定资产投资(累计值)
          </h4>
        </div>
        <div ui-if="myAccordion == 2">
          <div class="panel-body">
             <highchart config="InvestValueChart"  id="InvestValueChart" style="height: 450px"></highchart>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 1}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          主要分类固定资产投资(累计值)
      </h4>
    </div>
    <div ui-if="myAccordion == 1">
      <div class="panel-body">
       <highchart config="ClassInvestValueChart"  id="ClassInvestValueChart" style="height: 450px"></highchart>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 3}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          引进外资(累计值)
      </h4>
    </div>
    <div ui-if="myAccordion == 3">
      <div class="panel-body">
       <highchart config="CapitalValueChart" id="CapitalValueChart" style="height: 450px"></highchart>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 4}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          引进内资(累计值)
      </h4>
    </div>
    <div ui-if="myAccordion == 4">
      <div class="panel-body">
       <highchart config="ImportCapitalValueChart" id="ImportCapitalValueChart" style="height: 450px" ></highchart>
      </div>
    </div>
  </div>
    </div>
  </div>
 
  </div>
    
  </div>

  
</div>
