<div class="app cm-module">
  <div class="navbar navbar-app navbar-absolute-top cm-menu-navbar-top">
    <div class="cm-return-home" ui-sref="app.livehood.livehoodlist({categoryId:2004})"><span>返回</span></div>
    <div class="insurance-kpi-top navTopShowMark" ui-turn-on='kpiChoiceDropdown' ><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span style="margin-left: auto;margin-right: auto;">{{currentCategoryName}}</span></div>
    <ul class="dropdown-menu cm-dropdown-ul"
      ui-outer-click="Ui.turnOff('kpiChoiceDropdown')"
      ui-outer-click-if="Ui.active('kpiChoiceDropdown')"
      role="menu"
      ui-show="kpiChoiceDropdown"
      ui-state="kpiChoiceDropdown"
      ui-turn-off="kpiChoiceDropdown">
      <li><a ui-sref="app.inThDetail.UBEI" ng-click="changeCategory('城镇基本养老保险')" href="#">城镇基本养老保险</a></li>
      <li class="divider"></li>
      <li><a ui-sref="app.inThDetail.UI" ng-click="changeCategory('失业保险')"  href="#">失业保险</a></li>
      <li class="divider"></li>
      <li><a ui-sref="app.inThDetail.UBMI" ng-click="changeCategory('城镇基本医疗保险')" href="#">城镇基本医疗保险</a></li>
       <li class="divider"></li>
      <li><a ui-sref="app.inThDetail.URMI" ng-click="changeCategory('城镇居民医疗保险')" href="#">城镇居民医疗保险</a></li>
       <li class="divider"></li>
      <li><a ui-sref="app.inThDetail.EII" ng-click="changeCategory('工伤保险')" href="#">工伤保险</a></li>
       <li class="divider"></li>
      <li><a ui-sref="app.inThDetail.MI" ng-click="changeCategory('生育保险')" href="#">生育保险</a></li>
       <li class="divider"></li>
      <li><a ui-sref="app.inThDetail.RBEI" ng-click="changeCategory('居民基本养老保险')" href="#">居民基本养老保险</a></li>
    </ul>
  </div>
  <div class="app-body" ng-class="{loading: loading}" style="padding-bottom: 0;">
    <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
    <div class="app-content"  id="cmAppContent">
      <div class="scrollable">
        <div class="scrollable-content">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>

 <!--  <div class="navbar navbar-app navbar-absolute-bottom cm-menu-navbar-bottom">
    <div class="btn-group pull-left cm-menu-navbar-bottomleft navbar2position">
      <span class="insurance-bottom">民生</span>
   
    </div>
  </div> -->
</div>