<div class="app cm-module">
  <div class="navbar navbar-app navbar-absolute-top cm-menu-navbar-top">
    <div class="cm-return-home" ui-sref="app.in.home"><i class="fa fa-home" aria-hidden="true"></i><span>返回</span></div>
    <div class="cm-kpi-choose navTopShowMark" ui-turn-on='kpiChoiceDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>社保种类</span></div>
    <ul class="dropdown-menu cm-dropdown-ul"
      ui-outer-click="Ui.turnOff('kpiChoiceDropdown')"
      ui-outer-click-if="Ui.active('kpiChoiceDropdown')"
      role="menu"
      ui-show="kpiChoiceDropdown"
      ui-state="kpiChoiceDropdown"
      ui-turn-off="kpiChoiceDropdown">
      <li><a ui-sref="app.livehood.livehoodlist({categoryId:2003})" ng-click="changeCategory('人口结构')" href="#">人口结构</a></li>
      <li class="divider"></li>
      <li><a ui-sref="app.livehood.livehoodlist({categoryId:2004})" ng-click="changeCategory('社会保险')"  href="#">社会保险</a></li>
      <li class="divider"></li>
      <li><a ui-sref="app.livehood.livehoodlist({categoryId:2001})" ng-click="changeCategory('价格指数')" href="#">价格指数</a></li>
    </ul>
  </div>
  <div class="app-body" ng-class="{loading: loading}">
    <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
    <div class="app-content"  id="cmAppContent">
      <div class="scrollable">
        <div class="scrollable-content">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-app navbar-absolute-bottom cm-menu-navbar-bottom">
    <div class="btn-group pull-left cm-menu-navbar-bottomleft navbar2return" ng-click="toH()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i><span>返回</span>
    </div>
    <div class="btn-group pull-left cm-menu-navbar-bottomleft navbar2position">
      <span class="s1">当前位置:</span>
      <span class="s2">民生<i class="fa fa-angle-right" aria-hidden="true"></i>{{currentCategoryName}}</span>
      <span class="s3" ng-click="toDetail()"><i class="fa fa-hand-o-right" aria-hidden="true"></i><span>查看KPI详情</span></span>
    </div>
  </div>
</div>