/*人口保险切样式*/
.insurance-three-module {
    width: 100%;
    .tab-container {
        .tabs {
            @mixin tab() {
                display: inline-block;
                font-size: 15px;
                width: 49.5%;
                padding: 8px 0;
                text-align: center;
            }
            .tab-inactive {
                @include tab();
                border-bottom: 3px solid $cborder;
                color: #777;
            }
            .tab-active {
                @include tab();
                border-bottom: 3px solid $bgDarkBlue;
                color: #333;
                background-color: rgba(255,255,255,0.5);
            }
        }
        .divider {
            height: 15px;
        }
    }
    @mixin cmTa() {
        font-size: 15px;
        .title-area {
            display: inline-block;
            padding: 0 10px;
            border: 1px dashed #abb;
            background-color: rgba(208,224,224,0.5);
            border-left: none;
            .title {
                font-size: 15px;
            }
        }
        .value {
            display: block;
            padding: 5px 10px;
            font-size: 13px;
        }
    }
    .d1 {
        .bar {
            font-size: 15px;
            background-color: $bgDarkBlue;
            padding: 8px 10px;
            color: #fff;
        }
        .content {
            .key-value-area {
                padding: 10px 0 8px 0;
                background: linear-gradient($bgLightGrey, #fff);
                @include cmTa();
            }
            border-bottom: 1px solid $bgDarkBlue;
        }
    }
    .population-table {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    img {
        display: none;
    }
    .key-value-area {
        padding:54px 0 0 0;
        @include cmTa();
    }
    .chart-area {
        border-top: 1px dashed $cborder;
        border-bottom: 1px solid $cborder;
    }
    .age-toggle-area {
        position: relative;
        .toggle-panel {
            width: 80%;
            box-shadow: 5px 10px 5px #999999;
            border: 1px solid $cborder;
            border-radius: 8px;
            position: absolute;
            z-index: 2000;
            padding: 10px 5px;
            margin: 5px 10%;
            background-color: rgba(255,255,255,0.8);
            .toggle-item {
                width: 48%;
                background: radial-gradient(50% 50%, #eee, #eee, #fff);
                border: 1px solid $cborder;
                border-radius: 5px;
                padding: 3px 3px;
                margin: 2px;
                outline: none;
                &:hover, &:active, &:focus {
                    background: radial-gradient(50% 50%, #dee, #dee, #fff);
                }
            }
        }
    }

}
/*
.bar {
      font-size: 15px;
      background-color: $bgDarkBlue;
      padding: 8px 10px;
      color: #fff;
    }
  .tab-insurance {
    width: 100%;
    .tabs {
      @mixin tab() {
        display: inline-block;
        font-size: 15px;
        width: 49.5%;
        padding: 8px 0;
        text-align: center;
      }
      .tab-inactive {
        @include tab();
        border-bottom: 3px solid $cborder;
        color: #777;
      }
      .tab-active {
        @include tab();
        border-bottom: 3px solid $bgDarkBlue;
        color: #333;
        background-color: rgba(255,255,255,0.5);
      }
    }
    .divider {
      height: 15px;
    }
  }
.insurance-return-home{
  display: inline-block;
      width: 22%;
      margin-top: ($bottomBarH - 23px) / 2;
      text-align: left;
      i {
        font-size: 21px;
        padding-left: 18px;
      }
      span {
        padding-left: 7px;
        font-size: 16px;
      }
}
.lh-insurance-choose {
    width: 67%;
    display: inline-block;
    text-align: left;
    margin-top: ($bottomBarH - 30px) / 2;
    i {
        font-size: 21px;
    }
    span {
        padding-left: 7px;
        padding-right: 0px;
        font-size: 16px;
    }
}
.insurance-module {
  background-color: $bgLightGrey;
  .cm-menu-navbar-top {
    width: 100%;
    min-height: $bottomBarH;
    height: $bottomBarH;
    color: $fontBlack;
    background-color: rgba(255, 255, 255, 1);
    .cm-return-home {
      display: inline-block;
      width: 15%;
      margin-top: ($bottomBarH - 23px) / 2;
      text-align: left;
      i {
        font-size: 21px;
        padding-left: 18px;
      }
      span {
        padding-left: 7px;
        font-size: 16px;
      }
    }
    .cm-kpi-choose {
      width: 33%;
      display: inline-block;
      text-align: center;
      margin-top: ($bottomBarH - 30px) / 2;
      i {
        font-size: 21px;
      }
      span {
        padding-left: 7px;
        font-size: 16px;
      } 
    }
    .cm-kpi-status {
      width: 33%;
      display: inline-block;
      text-align: right;
      margin-top: ($bottomBarH - 30px) / 2;
      i {
        font-size: 21px;
      }
      span {
        padding-left: 7px;
        padding-right: 18px;
        font-size: 16px;
      } 
    }
    .cm-dropdown-ul {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 0 0 4px 4px;
      border-left: none;
      border-right: none;
      text-align: center;
      li {
        padding: 0.5em;
      }
      li.divider {
        padding: 0;
        margin: 0;
      }
    }
  }
  .cm-menu-navbar-bottom {
    .cm-menu-navbar-bottomleft{
      margin-top: 13px;
      font-size: 17px;
      margin-left: 1em;
      color: $wordGray;
      i {
        margin-right: 0.5em;
      }
      .s1 {
        font-size: 13px;
      }
      .s2 {
        font-size: 13px;
        margin-left: 1px;
        border-bottom: 1px dashed $wordGray;
        i {
          margin-left: 2px;
          margin-right: 2px;
        }
      }
      .s3 {
        margin-left: 10px;
        font-size: 13px;
        color: #008AFF;
        span {
          border-bottom: 1px dashed #008AFF;  
        }
      }
    }
  }
}

.insurance-d-module {
.table {
font-weight:normal !important;
font-size: 18px !important;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.container-intable{
  border: 2px;
}
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
  
  .title-area {
    padding-top: 0.5em;
    text-align: center;
    font-size: 18px;
  }
  .dash-area {
    .table-area {
      font-size: 10px;
      .table-column {
        display: inline-block;
        margin-top: 1em;
        width: 25%;
        text-align: center;
        .table-from-label {
          display: inline-block;
          text-align: center;
          width: 5em;
          height: 1.6em;
          color: #eee;
          background-color:  #008AFF;
          border-radius: 3px;
          padding-top: 0.2em;
          margin-right: 5px;
        }
        .table-from-value {
          display: inline-block;
        }
      }
      .first {
        width: 40%;
      }
      .two {
        width: 30%; 
      }
    }
    .button-area {
      margin-top: 10px;
      border-top: 1px solid $cborder;
      border-bottom: 1px solid $cborder;
      background-color: #fff;
      input {
        margin: 0 0;
        width: 49%;
        line-height: 3em;
        background-color: #fff;
        outline: none;
        border: none;
        &:hover,&:active,&:focus {
          background: radial-gradient(50% 2.5em, #eff, #eff, #fff);
        }
      }
      #showshort {
        border-right: 1px solid rgb(234, 234, 234);
      } 
    }
  }
  .chart-area {
    border-bottom: 1px solid $cborder;
  }
}

.insurance-kpi-top {
      width: 50%;
      display: inline-block;
      text-align: center;
      margin-top: ($bottomBarH - 30px) / 2;
        margin-left: auto;
            margin-right: auto;
      i {
        font-size: 21px;
      }
      span {
        padding-left: 7px;
        font-size: 16px;
      } 
    }
    .insurance-kpi-hight{
           height:100px;
    } 

.insurance-table-header{
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}
.insurance-table{
  border-collapse: collapse !important;
}
.insurance-table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}

  .insuranc-text{
    margin-bottom: 5px
  }
  .in-margin{
    margin-top: 18px
  }
.insurance-width{
  width: 100%;
  
}

.table-header-insurance{
  height: 30px;
}
.insurace-nav-width{
  width: 50%;
}
.insurance-height{
  height: 10px;
}
   .insurance-blue {
          display: inline-block;
          text-align: center;
          width: 5em;
          height: 1.6em;
          color: #eee;
          background-color:  #008AFF;
          border-radius: 3px;
          padding-top: 0.2em;
          margin-right: 5px;
        }

*/