<div class="app cm-module">
	<div class="navbar navbar-app navbar-absolute-top cm-menu-navbar-top">
		<div class="cm-return-home" ui-sref="app.in.home"><i class="fa fa-home" aria-hidden="true"></i><span>主页</span></div>
		<div class="cm-kpi-choose navTopShowMark" ui-turn-on='kpiChoiceDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>KPI分类</span></div>
		<div class="cm-kpi-status navTopShowMark" ui-turn-on='kpiStatusDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>KPI状态</span></div>
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiChoiceDropdown')"
			ui-outer-click-if="Ui.active('kpiChoiceDropdown')"
			role="menu"
			ui-show="kpiChoiceDropdown"
			ui-state="kpiChoiceDropdown"
			ui-turn-off="kpiChoiceDropdown">
			<li><a ui-sref="app.economy.economylist({categoryId:2})" href="#" ng-click="changeCategory('国内生产总值')">GDP</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.economy.economylist({categoryId:1})" href="#" ng-click="changeCategory('财政')">财政</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.economy.economylist({categoryId:4})" href="#" ng-click="changeCategory('投资与贸易')">投资与贸易</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.economy.economylist({categoryId:3})" href="#" ng-click="changeCategory('工业与新兴产业')">金融</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.economy.economylist({categoryId:5})" href="#" ng-click="changeCategory('金融')">工业与新兴产业</a></li>
		</ul>
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiStatusDropdown')"
			ui-outer-click-if="Ui.active('kpiStatusDropdown')"
			role="menu"
			ui-show="kpiStatusDropdown"
			ui-state="kpiStatusDropdown"
			ui-turn-off="kpiStatusDropdown">
			<li><a ng-click="changeState('GREEN')" class="clevel1">可接受</a></li>
			<li class="divider"></li>
			<li><a ng-click="changeState('YELLOW')" class="clevel2">轻微问题</a></li>
			<li class="divider"></li>
			<li><a ng-click="changeState('RED')" class="clevel3">问题</a></li>
		</ul>
	</div>
	<div class="app-body" ng-class="{loading: loading}">
		<div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
		<div class="app-content"  id="cmAppContent">
			<div class="scrollable">
				<div class="scrollable-content">
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-app navbar-absolute-bottom cm-menu-navbar-bottom">
		<div class="btn-group pull-left cm-menu-navbar-bottomleft navbar2return" ng-click="toH()">
			<i class="fa fa-chevron-left" aria-hidden="true"></i><span>返回</span>
		</div>
		<div class="btn-group pull-left cm-menu-navbar-bottomleft navbar2position">
			<span class="s1">当前位置:</span>
			<span class="s2">经济<i class="fa fa-angle-right" aria-hidden="true"></i>{{currentCategoryName}}</span>
			<span class="s3" ng-click="toDetail()"><i class="fa fa-hand-o-right" aria-hidden="true"></i><span>查看KPI详情</span></span>
		</div>
	</div>
</div>