<div class="app cm-module">
	<div class="navbar navbar-app navbar-absolute-top cm-menu-navbar-top">
		<div class="cm-return-home" ui-sref="app.in.home"><i class="fa fa-home" aria-hidden="true"></i><span>主页</span></div>
		<div class="cm-kpi-choose navTopShowMark" ui-turn-on='kpiChoiceDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>KPI分类</span></div>
		<div class="cm-kpi-status navTopShowMark" ui-turn-on='kpiStatusDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>KPI状态</span></div>
		<div class="cm-kpi-healthcare navTopShowhealthcare" ui-turn-on='kpiHealthcareDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>{{healthcare.title}}</span></div>
		<div class="cm-kpi-traffic navTopShowtraffic" ui-turn-on='kpiTrafficDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>{{traffic.title}}</span></div>
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiChoiceDropdown')"
			ui-outer-click-if="Ui.active('kpiChoiceDropdown')"
			role="menu"
			ui-show="kpiChoiceDropdown"
			ui-state="kpiChoiceDropdown"
			ui-turn-off="kpiChoiceDropdown">
			<li id="publicService6001"><a ui-sref="app.publicService.publicServicelist({categoryId:6001})" ng-click="changeCategory('教育')" href="javascript:void(0)">教育</a></li>
			<li class="divider"></li>
			<li id="publicService6004"><a ui-sref="app.publicService.publicServicelist({categoryId:6004})" ng-click="changeCategory('医疗卫生')" href="javascript:void(0)">医疗卫生</a></li>
			<li class="divider"></li>
			<li id="publicService6003"><a ui-sref="app.publicService.publicServicelist({categoryId:6003})" ng-click="changeCategory('交通')" href="javascript:void(0)">交通</a></li>
			<li class="divider"></li>
			<li id="publicService6002"><a ui-sref="app.publicService.publicServicelist({categoryId:6002})" ng-click="changeCategory('电信')" href="javascript:void(0)">电信</a></li>
		</ul>
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiStatusDropdown')"
			ui-outer-click-if="Ui.active('kpiStatusDropdown')"
			role="menu"
			ui-show="kpiStatusDropdown"
			ui-state="kpiStatusDropdown"
			ui-turn-off="kpiStatusDropdown">
			<li><a ng-click="changeState('ALL')">全部</a></li>
			<li class="divider"></li>
			<li><a ng-click="changeState('GREEN')" class="clevel1">可接受</a></li>
			<li class="divider"></li>
			<li><a ng-click="changeState('YELLOW')" class="clevel2">轻微问题</a></li>
			<li class="divider"></li>
			<li><a ng-click="changeState('RED')" class="clevel3">问题</a></li>
		</ul>
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiHealthcareDropdown')"
			ui-outer-click-if="Ui.active('kpiHealthcareDropdown')"
			role="menu"
			ui-show="kpiHealthcareDropdown"
			ui-state="kpiHealthcareDropdown"
			ui-turn-off="kpiHealthcareDropdown"
			style="z-index: 1000;">
			<li><a ui-sref="app.publicService.hlthRscSvc" href="javascript:void(0)" ng-click="changeHealthCareTitle('医疗卫生资源')">医疗卫生资源</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.publicService.hlthPblcHlth" href="javascript:void(0)" ng-click="changeHealthCareTitle('公共卫生')">公共卫生</a></li>
		</ul>
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiTrafficDropdown')"
			ui-outer-click-if="Ui.active('kpiTrafficDropdown')"
			role="menu"
			ui-show="kpiTrafficDropdown"
			ui-state="kpiTrafficDropdown"
			ui-turn-off="kpiTrafficDropdown"
			style="z-index: 1000;">
			<li><a ui-sref="app.publicService.psngrTransportation" href="javascript:void(0)" ng-click="changeTrafficTitle('旅客运输')">旅客运输</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.publicService.trnspAdminPermit" href="javascript:void(0)" ng-click="changeTrafficTitle('交通行政执法与许可')">交通行政执法与许可</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.publicService.gdsTrans" href="javascript:void(0)" ng-click="changeTrafficTitle('货物运输')">货物运输</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.publicService.driverTrain" href="javascript:void(0)" ng-click="changeTrafficTitle('驾校培训')">驾校培训</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.publicService.trnspInfstCnstr" href="javascript:void(0)" ng-click="changeTrafficTitle('交通基础设施建设')">交通基础设施建设</a></li>
		</ul>
	</div>
	<div class="app-body" ng-class="{loading: loading}">
		<div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
		<div class="app-content"  id="cmAppContent">
			<div class="scrollable">
				<div class="scrollable-content">
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-app navbar-absolute-bottom cm-menu-navbar-bottom">
		<div class="btn-group pull-left cm-menu-navbar-bottomleft navbar2return" ng-click="toH()">
			<i class="fa fa-chevron-left" aria-hidden="true"></i><span>返回</span>
		</div>
		<div class="btn-group pull-right cm-menu-navbar-bottomright navbar2detail">
			<span class="s3" ng-click="toDetail()"><i class="fa fa-hand-o-right" aria-hidden="true"></i><span>查看KPI详情</span></span>
		</div>
	</div>
</div>