<div ui-state="activeTab" default="1">
 <ul class="nav nav-tabs">
    <div style="display: flex;display: -webkit-flex;flex-direction: row;">
    <div style="width: 50%;height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content:center;align-items: center;" class="economyactive" ng-click="tab1()" id="tab1">
      <div>数据详情</div>
    </div> 
    <div style="width: 50%;height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content:center;align-items: center;" class="economyinactive" ng-click="tab2()" id="tab2">
      <div>数据走势</div>
    </div>
  </ul>

  <div  ng-if="newtab1">
  <div class="scrollable"style="margin-top: 100px;height:{{newheight}}px">
  <div class="scrollable-content" > 
  <span ng-show="false">{{ai = dataMap.Ivalue.lastestObject}}</span>
    <div style="height: 30px; display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <div style="width: 100%;height: 30px;box-shadow: 3px 3px 6px -4px white;border-radius: 5px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <span style="font-size: 2em">工业数据详情</span>
      </div>
      </div>
     <div style="height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
       <span class="label label-primary">统计局</span>
        <span class="label" style="color: black;margin-left: 5px">时间:{{ai.year}} 年 {{ai.month}} 月</span>
         <span class="label" style="color: black">每月更新</span>
     </div>


      <div class="panel-group" ui-state="myAccordion" ui-default="2">
    <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 2}"style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color:white">
             月工业总产值数据
          </h4>
        </div>
        <div ui-if="myAccordion == 2">
          <div class="panel-body" >
             <div style="width: 100%;height: 450px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
  <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
    <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(92,95,105,.7);color: white" class="economyclick"  >
      <span>本年累计额</span>
      <span style="font-size: 2em;margin-top: 30px;font-size: 1.5em">{{ai.accmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-down" aria-hidden="true" style="color: red"></i>{{ai.accmRate | number:2}} %</span>
    </div>
   <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(116,140,146,.7);color: white" class="economyclick">
      <span>规模以上工业统计额</span>
      <span style="font-size: 2em;margin-top: 30px;font-size: 1.5em">{{ai.uaccmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{ai.uaccmRate | number:2}} %</span>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 1}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          月规模以上新兴产业产值
      </h4>
      <span ng-show="false">{{bi = dataMap.NIvalue.lastestObject}}</span>
    </div>
    <div ui-if="myAccordion == 1">
      <div class="panel-body" >
          <div style="width: 100%;height: 500px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
  <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
    <div style="width: 50%;height: 150px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(92,95,105,.7);color: white" class="economyclick">
      <span>全市</span>
      <span style="font-size: 2em;margin-top: 30px">{{bi.accmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{bi.accmRate | number:2}} %</span>
    </div>
   <div style="width: 50%;height: 150px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(116,140,146,.7);color: white" class="economyclick">
      <span>新能源</span>
      <span style="font-size: 2em;margin-top: 30px">{{bi.naccmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{bi.naccmRate | number:2}} %</span>
    </div>
    <div style="width: 50%;height: 150px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(151,87,89,.7);color: white" class="economyclick">
      <span>新材料</span>
      <span style="font-size: 2em;margin-top: 30px">{{bi.maccmAmount}} 万元</span>
       <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-down" aria-hidden="true" style="color: red"></i>{{bi.maccmRate | number:2}} %</span>
    </div>
     <div style="width: 50%;height: 150px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(83,54,68,.7);color: white" class="economyclick">
      <span>生物技术和新医药</span>
      <span style="font-size: 2em;margin-top: 30px">{{bi.bioaccmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{bi.bioaccmRate | number:2}} %</span>
    </div>
     <div style="width: 50%;height: 150px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(127,196,197,.7);color: white" class="economyclick">
      <span>节能环保</span>
      <span style="font-size: 2em;margin-top: 30px">{{bi.eeaccmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{bi.eeaccmRate | number:2}} %</span>
    </div>
     <div style="width: 50%;height: 150px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(92,95,105,.7);color: white" class="economyclick">
      <span>智能电网和物联网</span>
      <span style="font-size: 2em;margin-top: 30px">{{bi.elcaccmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{bi.elcaccmRate | number:2}} %</span>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 3}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          月工业主营业务收入(累计值)
      </h4>
  <span ng-show="false">{{ci = dataMap.NSvalue.lastestObject}}</span>
    </div>
    <div ui-if="myAccordion == 3">
      <div class="panel-body" >
          <div style="width: 100%;height: 500px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
  <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
    <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(127,196,197,.7);color: white" class="economyclick">
      <span>工业累计销售额</span>
      <span style="font-size: 2em;margin-top: 30px;font-size: 1.5em">{{ci.accmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-down" aria-hidden="true" style="color: red"></i>{{ci.accmRate | number:2}} %</span>
    </div>
   <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(83,54,68,.7);color: white" class="economyclick">
      <span>规模以上工业销售累计额</span>
      <span style="font-size: 2em;margin-top: 30px;font-size: 1.5em">{{ci.uaccmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{ci.uaccmRate | number:2}} %</span>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 4}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          月工业利润
      </h4>
<span ng-show="false">{{di = dataMap.NPvalue.lastestObject}}</span>
    </div>
    <div ui-if="myAccordion == 4">
      <div class="panel-body" >
          <div style="width: 100%;height: 500px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
  <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
    <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(92,95,105,.7);color: white" class="economyclick">
      <span>工业利润累计额</span>
      <span style="font-size: 2em;margin-top: 30px">{{di.accmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{di.accmRate | number:2}} %</span>
    </div>
   <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(116,140,146,.7);color: white" class="economyclick">
      <span>规模以上工业利润累计额</span>
      <span style="font-size: 2em;margin-top: 30px">{{di.uaccmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{di.uaccmRate | number:2}} %</span>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 5}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          月工业利税
      </h4>
<span ng-show="false">{{ei = dataMap.NProfitvalue.lastestObject}}</span>
    </div>
    <div ui-if="myAccordion == 5">
      <div class="panel-body" >
          <div style="width: 100%;height: 500px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
  <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
    <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(127,196,197,.7);color: white" class="economyclick">
      <span>工业利税累计额</span>
      <span style="font-size: 2em;margin-top: 30px;font-size: 1.5em">{{ei.accmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{ei.accmRate | number:2}} %</span>
    </div>
   <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(116,140,146,.7);color: white" class="economyclick">
      <span>规模以上工业利润累计额</span>
      <span style="font-size: 2em;margin-top: 30px;font-size: 1.5em">{{ei.uaccmAmount}} 万元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{ei.uaccmRate | number:2}} %</span>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
    </div>
  </div>
   </div>
 
  </div>

  <div ng-if="newtab2">
  <div class="scrollable"style="margin-top: 100px;height:{{newheight}}px">
  <div class="scrollable-content" ng-click="show()">
     <div style="height: 30px; display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <div style="width: 100%;height: 30px;box-shadow: 3px 3px 6px -4px white;border-radius: 5px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;" >
      <span style="font-size: 2em">工业数据全年走势</span>
      </div>
      </div>
     <div style="height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <span ng-show="false">{{ei = dataMap.NProfitvalue.lastestObject}}</span>
       <span class="label label-primary">统计局</span>
        <span class="label" style="color: black;margin-left: 5px">时间:{{ei.year}} 年 {{ei.month}} 月</span>
         <span class="label" style="color: black">每月更新</span>
     </div>
       <div class="panel-group" ui-state="myAccordion" ui-default="2">
    <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 2}" style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color:white">
              工业总产值(累计值)
          </h4>
        </div>
        <div ui-if="myAccordion == 2">
          <div class="panel-body">
             <highchart config="IndustryValueChart"  id="IndustryValueChart" style="height: 450px"></highchart>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 1}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          规模以上新兴产业工业的总产值(累计值)
      </h4>
    </div>
    <div ui-if="myAccordion == 1">
      <div class="panel-body">
       <highchart config="NewIndustryValueChart"  id="NewIndustryValueChart" style="height: 450px"></highchart>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 3}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          工业主营业务收入(累计值)
      </h4>
    </div>
    <div ui-if="myAccordion == 3">
      <div class="panel-body">
       <highchart config="industryIncomeValueChart" id="industryIncomeValueChart" style="height: 450px"></highchart>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 4}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          规模以上工业利润
      </h4>
    </div>
    <div ui-if="myAccordion == 4">
      <div class="panel-body">
       <highchart config="industryProfitValueChart" id="industryProfitValueChart" style="height: 450px"></highchart>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 5}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color:white">
          工业利税(累计值)
      </h4>
    </div>
    <div ui-if="myAccordion == 5">
      <div class="panel-body">
       <highchart config="industryTaxValueChart" id="industryTaxValueChart" style="height: 450px"></highchart>
      </div>
    </div>
  </div>
    </div>
  </div>
 
  </div>
    
  </div>

  
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
   <div class="btn-group btn-group-justified">
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-sref="app.economy.economylist({categoryId:5})" style="color: gray">返回上页</a>
  </div>
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-turn-on="modal2"></a>
  </div>
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-turn-off="modal2"></a>
  </div>
</div>
  </div>