.pentitionthree {
    .panel-primary {
        .panel-heading {
            background-color: #428bca;
            border-color: #007aff;
        }
    }
    tspan {
        font-size: 12px;
        font-weight: bold;
    }
    .highcharts-title {
        font-size: 12px;
        font-weight: bold;
    }
    .ps-map-border {
        border-style: inset;
        border-width: 5px;
        border-color: #007aff;
    }
}
