<div class="cmicm-module">
	<div class="key-value-area1">
		<div class="title-area">
			<i class="fa fa-bar-chart" aria-hidden="true"></i>
			<span class="title">各单位处理数字城管案件情况详情</span>
		</div>
		<br>
		<i class="fa fa-hand-o-right i-label i-label" aria-hidden="true"></i>
		<span name="" id="cmIcmIndexToogleButton" class="toggle-button">切换指标</span>
	</div>
	<div class="index-toggle-area">
		<div class="toggle-panel"  id="cmIcmIndexTooglePanel">
			<input class="toggle-item" type="button" ng-repeat="(name, abbr) in indexs" ng-click="changeIndex1(name, abbr)" value="{{name}}" name="">
		</div>
	</div>
	<div class="chart-area1">
		<highchart config="chart1"></highchart>
	</div>
	<div class="key-value-area2">
		<div class="title-area">
			<i class="fa fa-bar-chart" aria-hidden="true"></i>
			<span class="title">各类拆除方式详情</span><br>
		</div>
		<span class="value">{{oneword2}}</span>
	</div>
	<div class="chart-area2">
		<highchart config="chart1"></highchart>
	</div>
</div>