<div class="soraka-datepick-module">
	<span class="soraka-datepick-title">请选择数据显示日期：</span>
	<button type="button" class="sbtn" ng-click="today()">选择今天</button>
	<div class="datepick-box">
    	<datepicker datepicker-show="true">
		  <input ng-model="dt" class="soraka-datepicker" placeholder="点击选择日期" type="text"/>
		</datepicker>
    </div>
	<span class="datepick-curr">当前选择的日期是: <span>{{formatedDate | date:"yyyy 年 MM 月 dd 日"}}</span></span>
	<div class="btn-area">
		<button type="button" class="cbtn" ng-click="confirm()">确定</button>
	</div>
	<div class="hint-area">
		{{changeState}}
	</div>
</div>