<div class="population-three-module">
  <div ng-show="thisloc == 'PopulationStructure'">
    <div class="tabs">
      <input ng-click="populationSwitch('total')" type="button" class="s1" id="lhpopulation-s1" value="人口总量">
      <input ng-click="populationSwitch('structure')" type="button" class="s2" id="lhpopulation-s2" value="人口结构">
    </div>
    <div class="key-value-area" ng-if="choice">
      <div style="text-align: center;line-height: 15px;">
        <span style="font-size: 15px;">{{ALLDATA.tableName}}</span>
      </div>
      <table class="table population-table">
        <tr ng-repeat="tableData in ALLDATA.tableData">
          <td>{{tableData.name}}</td>
          <td align="right">{{tableData.value}}</td>
        </tr>
      </table>
    </div>
    <div class="key-value-area" ng-if="!choice">
      <div style="text-align: center;">
        <span style="font-size: 15px;">{{ALLDATA.detailTableName}}</span>
        <span name="" id="chooseAge" class="toggle-button">
          <img src="/assets/images/dropdown.png" alt="选择年龄" style="width: 20px;height: 20px;" />
        </span>
      </div>
      <table class="table population-table">
        <tr ng-repeat="tableData in ALLDATA.detailTableData">
          <td>{{tableData.name}}</td>
          <td align="right">{{tableData.value}}</td>
        </tr>
      </table>
    </div>
    <div class="chart-area">
      <highchart config="ALLOPTION.POPULATIONCHART" ></highchart>
    </div>
  </div>

  <div ng-show="thisloc != 'PopulationStructure'">  
    <div class="tabs">
      <input ng-click="populationSwitch('total')" type="button" class="s1" id="lhpopulation2-s1" value="按年份">
      <input ng-click="populationSwitch('structure')" type="button" class="s2" id="lhpopulation2-s2" value="按城镇">
    </div>
    <div class="key-value-area" ng-if="choice">
      <div style="text-align: center;">
        <span style="font-size: 15px;">{{ALLDATA.tableName}}</span>
        <span name="" id="chooseYear" class="toggle-button">
          <img src="/assets/images/dropdown.png" alt="选择年份" style="width: 20px;height: 20px;" />
        </span>
      </div>
      <table class="table population-table">
        <tr ng-repeat="tableData in ALLDATA.tableData">
          <td>{{tableData.name}}</td>
          <td align="right">{{tableData.value}}</td>
        </tr>
      </table>
      <div class="chart-area">
        <highchart config="ALLOPTION.POPULATIONCHART"></highchart>
      </div>
    </div>
    <div class="key-value-area" ng-if="!choice">
      <div style="text-align: center;">
        <span style="font-size: 15px;">{{ALLDATA.townTableName}}</span>
        <span name="" id="chooseTown" class="toggle-button">
          <img src="/assets/images/dropdown.png" alt="选择城镇" style="width: 20px;height: 20px;" />
        </span>
      </div>
      <table class="table population-table">
        <tr ng-repeat="tableData in ALLDATA.townTableData">
          <td>{{tableData.name}}</td>
          <td align="right">{{tableData.value}}</td>
        </tr>
      </table>
      <div class="chart-area">
        <highchart config="ALLOPTION.POPULATIONTOWNCHART"></highchart>
      </div>
    </div>
    
  </div>
</div>



