.lh-population-choose {
    width: 67%;
    display: inline-block;
    text-align: left;
    margin-top: ($bottomBarH - 30px) / 2;
    i {
        font-size: 21px;
    }
    span {
        padding-left: 7px;
        padding-right: 0px;
        font-size: 16px;
    }
}

.population-three-module {
    width: 100%;
    .tab-container {
        .tabs {
            @mixin tab() {
                display: inline-block;
                font-size: 15px;
                width: 49.5%;
                padding: 8px 0;
                text-align: center;
            }
            .tab-inactive {
                @include tab();
                border-bottom: 3px solid $cborder;
                color: #777;
            }
            .tab-active {
                @include tab();
                border-bottom: 3px solid $bgDarkBlue;
                color: #333;
                background-color: rgba(255,255,255,0.5);
            }
        }
        .divider {
            height: 15px;
        }
    }
    @mixin cmTa() {
        font-size: 15px;
        .title-area {
            display: inline-block;
            padding: 0 10px;
            border: 1px dashed #abb;
            background-color: rgba(208,224,224,0.5);
            border-left: none;
            .title {
                font-size: 15px;
            }
        }
        .value {
            display: block;
            padding: 5px 10px;
            font-size: 13px;
        }
    }
    .d1 {
        .bar {
            font-size: 15px;
            background-color: $bgDarkBlue;
            padding: 8px 10px;
            color: #fff;
        }
        .content {
            .key-value-area {
                padding: 10px 0 8px 0;
                background: linear-gradient($bgLightGrey, #fff);
                @include cmTa();
            }
            border-bottom: 1px solid $bgDarkBlue;
        }
    }
    .population-table {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    img {
        display: none;
    }
    .key-value-area {
        padding:54px 0 0 0;
        @include cmTa();
        /*.toggle-button {
            width: 8em;
            height: 30px;
            outline: none;
            border: none;
            color: #008AFF;
            background: radial-gradient(3em 40%, #ddd, #ddd, rgba(255,255,255,0));
            text-align: left;
            font-size: 13px;
            img {
                width: 30px;
                height: 30px;
            }
        }*/
    }
    .chart-area {
        border-top: 1px dashed $cborder;
        border-bottom: 1px solid $cborder;
    }
    .age-toggle-area {
        position: relative;
        .toggle-panel {
            width: 80%;
            box-shadow: 5px 10px 5px #999999;
            border: 1px solid $cborder;
            border-radius: 8px;
            position: absolute;
            z-index: 2000;
            padding: 10px 5px;
            margin: 5px 10%;
            background-color: rgba(255,255,255,0.8);
            .toggle-item {
                width: 48%;
                background: radial-gradient(50% 50%, #eee, #eee, #fff);
                border: 1px solid $cborder;
                border-radius: 5px;
                padding: 3px 3px;
                margin: 2px;
                outline: none;
                &:hover, &:active, &:focus {
                    background: radial-gradient(50% 50%, #dee, #dee, #fff);
                }
            }
        }
    }

}
/*.fadein.ng-enter{
    animation:priceenter 3s linear;
    background-color: red;
    border: 1px solid red;
}*/
.fadein.ng-enter {
 animation: priceenter 1s linear;
}
.fadeout.ng-leave{
    animation: priceleave 1s linear;
}
@keyframes priceenter{
    from {transform:translateX(-100px);}
    to  {transform:translateX(0px);}
}
@keyframes priceleave{
    from {transform:translateX(0px);}
    to  {transform:translateX(-200px);}

            }