.lh-population-choose {
    width: 67%;
    display: inline-block;
    text-align: left;
    margin-top: ($bottomBarH - 30px) / 2;
    i {
        font-size: 21px;
    }
    span {
        padding-left: 7px;
        padding-right: 0px;
        font-size: 16px;
    }
}

.population-three-module {
    width: 100%;
    .tabs {
        position: fixed;
        z-index: 100;
        width: 100%;
        font-size: 15px;
        background-color: #fff;
        border-bottom: 1px solid $cborder;
        @mixin ss() {
            background-color: transparent;
            display: inline-block;
            padding: 10px 2px;
            outline: none;
        }
        .activeTab {
            background: radial-gradient(50% 100%, #dee, #dee, #fff);
            border-bottom: 2px solid #567;
        }
        .s1 {
            @include ss();
            width: 48%;
            border: none;
            border-right: 1px solid $cborder;
            border-bottom: 2px solid #fff;
        }
        .s2 {
            @include ss();
            width: 48%;
            border: none;
            border-bottom: 2px solid #fff;
        }
    }
    @mixin cmTa() {
        font-size: 15px;
        .title-area {
            display: inline-block;
            padding: 0 10px;
            border: 1px dashed #abb;
            background-color: rgba(208,224,224,0.5);
            border-left: none;
            i {

            }
            .title {
                font-size: 15px;
            }
        }
        .value {
            background: linear-gradient($bgLightGrey, #fff);
            display: block;
            padding: 5px 10px;
            font-size: 13px;
        }
    }
    .population-table {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .key-value-area {
        padding:54px 0 0 0;
        @include cmTa();
        /*.toggle-button {
            width: 8em;
            height: 30px;
            outline: none;
            border: none;
            color: #008AFF;
            background: radial-gradient(3em 40%, #ddd, #ddd, rgba(255,255,255,0));
            text-align: left;
            font-size: 13px;
            img {
                width: 30px;
                height: 30px;
            }
        }*/
    }
    .chart-area {
        border-top: 1px dashed $cborder;
        border-bottom: 1px solid $cborder;
    }
    .age-toggle-area {
        position: relative;
        .toggle-panel {
            width: 80%;
            box-shadow: 5px 10px 5px #999999;
            border: 1px solid $cborder;
            border-radius: 8px;
            position: absolute;
            z-index: 2000;
            padding: 10px 5px;
            margin: 5px 10%;
            background-color: rgba(255,255,255,0.8);
            .toggle-item {
                width: 48%;
                background: radial-gradient(50% 50%, #eee, #eee, #fff);
                border: 1px solid $cborder;
                border-radius: 5px;
                padding: 3px 3px;
                margin: 2px;
                outline: none;
                &:hover, &:active, &:focus {
                    background: radial-gradient(50% 50%, #dee, #dee, #fff);
                }
            }
        }
    }
}