.lh-population-choose {
    width: 67%;
    display: inline-block;
    text-align: left;
    margin-top: ($bottomBarH - 30px) / 2;
    i {
        font-size: 21px;
    }
    span {
        padding-left: 7px;
        padding-right: 0px;
        font-size: 16px;
    }
}

.population-three-module {
    

}
/*.fadein.ng-enter{
    animation:priceenter 3s linear;
    background-color: red;
    border: 1px solid red;
}*/
.fadein.ng-enter {
 animation: priceenter 1s linear;
}
.fadeout.ng-leave{
    animation: priceleave 1s linear;
}
@keyframes priceenter{
    from {transform:translateX(-100px);}
    to  {transform:translateX(0px);}
}
@keyframes priceleave{
    from {transform:translateX(0px);}
    to  {transform:translateX(-200px);}
}