<style type="text/css">
	#allmap {width: 400px;height: 400px;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>
<div class="panel-heading" style="border:#63B8FF 1px solid;background-color:#63B8FF;height:30px;">
	<h4><center>{{getDate.year}}年太仓市生产安全动态</center></h4>
</div>
<div class="well" style="margin-top:0px;margin-bottom:0px;height:56px">
		<p>{{getDate.year}}年{{getDate.month}}月份全市发生各类生产安全事故总数 {{amountData.amount}} 起。其中特别重大事故 {{amountData.moreLargeAccident}} 起，重大事故 {{amountData.largeAccident}} 起。</p>
</div>	 
	<highchart  id="barCountStation"  config="barCountStation"  style="height:400px"></highchart>
	<highchart  id="pieType"  config="pieType" style="height:400px"></highchart>
	<div class="panel-heading" style="border:#63B8FF 1px solid;background-color:#63B8FF;height:30px;">
	<h4><center>{{getDate.year}}年太仓市生产安全其它指标</center></h4>
</div>
<div class="well" style="margin-top:0px;margin-bottom:0px;height:56px">
		<p>{{getDate.year}}年{{getDate.month}}月份全市生产安全事故{{barCountStationData1.title}} 总共 {{amountData.elseIndicator}} {{barCountStationData1.unit}}。</p>
</div>
	<label class="">
		<input type="radio"  value="0"  ng-model="barCountStationData1.type" ng-change ='typeChange1(1)'>
		查看受伤人数
	</label>
	<label class="">
		<input type="radio" value="2" ng-model="barCountStationData1.type" ng-change ='typeChange1(2)'>
		查看死亡人数
	</label>
	<label class="">
		<input type="radio"  value="3" ng-model="barCountStationData1.type" ng-change='typeChange1(3)' >
		查看直接财产损失
	</label>					
	<highchart  id="barCountStation"  config="barCountStation1"  style="height:400px"></highchart>		
	<highchart  id="kpiPieChart"  config="pieType1" style="height:370px"></highchart>			
<div class="panel-heading">
	{{getDate.year}}年生产安全事故趋势
	<span class="glyphicon glyphicon-question-sign pull-right"></span>
</div>
<div class="panel-heading" style="border:#63B8FF 1px solid;background-color:#63B8FF;height:30px;">
	<h4><center>{{getDate.year}}年太仓市生产安全事故趋势</center></h4>
</div>
	<label class="">
		<input type="radio"  value="0" checked ng-model="lineChartData.type" ng-change ='typeChange(0)'>
		查看事故发生数
	</label>
	<label class="">
		<input type="radio"  value="1"  ng-model="lineChartData.type" ng-change ='typeChange(1)'>
		查看受伤人数
	</label>
	<label class="">
		<input type="radio" value="2" ng-model="lineChartData.type" ng-change ='typeChange(2)'>
		查看死亡人数
	</label>
	<label class="">
		<input type="radio"  value="3" ng-model="lineChartData.type" ng-change='typeChange(3)' >
		查看直接财产损失
	</label>				
	<highchart  id="lineChart" config="lineChart" style="height:450px"></highchart>		