<div class="xcmpunish-module">
	<div class="tab-container">
		<div class="tabs">
			<div ng-class="{'tab-active': tab1, 'tab-inactive': tab2}" ng-click="change3To('time')">按案件数</div><!--不要去掉这个注释
	 	 --><div ng-class="{'tab-active': tab2, 'tab-inactive': tab1}" ng-click="change3To('money')">按处罚金额</div>
		</div>
	 	<div class="divider"></div>
	</div>
	<div class="d1">
		<div class="bar">
			行政处罚动态
		</div>
		<div class="content">
			<div class="key-value-area1">
				<div class="title-area">
					<span class="title">一句话解读</span><br>
				</div>
				<span class="value">{{oneword1}}</span>
			</div>
			<div class="chart-area">
				<highchart config="totalChart"></highchart>
			</div>	
		</div>
	</div>
	<div class="d2">
		<div class="bar">
			行政处罚动态
		</div>
		<div class="content">
			<div class="key-value-area2">
				<i class="fa fa-hand-o-right i-label i-label" aria-hidden="true"></i>
				<span name="" id="cmPunishTownToogleButton" class="toggle-button">查看数据详情</span>
			</div>
			<div class="reasons-toggle-area">
				<div class=""  id="cmPunishTownTooglePanel">
					<div class="toggle-bar"></div>
					<div class="toggle-panel">
						<span ng-repeat="reason in reasonsShowData" class="item">{{reason[0]}}:<span>{{reason[1]}}{{reasonsDataUnit}}</span></span>
					</div>
				</div>
			</div>
			<div class="chart-area">
				<highchart config="pieChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d3">
		<div class="bar">
			各城管执法中队处理案件详情
		</div>
		<div class="content">
			<div class="chart-area">
				<highchart config="lochusChart"></highchart>
			</div>
		</div>
	</div>
</div>