.ps-refuse-bottom-s1 {
	display: inline-block;
	text-align: center;
	width: 5em;
	height: 1.5em;
	font-size: 0.6em;
	color: #eee;
	background-color:  #008AFF;
	border-radius: 3px;
	padding-top: 0.1em;
}
