.cmfix-module {
	width: 100%;
	@mixin cmTa() {
		font-size: 15px;
		.title-area {
			display: inline-block;
			padding: 0 10px;
			border: 1px dashed #abb;
			background-color: rgba(208,224,224,0.5);
			border-left: none;
			i {

			}
			.title {
				font-size: 15px;
			}
		}
	}
	// 第一部分 分区域拆除详情
	.d1 {
		margin-top: 15px;
		.bar {
			font-size: 15px;
			background-color: $bgDarkBlue;
			padding: 8px 10px;
			color: #fff;
		}
		.content {
			border-bottom: 1px solid $bgDarkBlue;
			.key-value-area1 {
				padding:10px 0 5px 0;
				background: linear-gradient($bgLightGrey, #fff);
				@include cmTa();
				.value {
					display: block;
					padding: 8px 10px;
					font-size: 13px;
				}
			}
		}
	}
	// 第二部分 各类拆除方式详情
	.d2 {
		margin-top: 15px;
		.bar {
			font-size: 15px;
			background-color: $bgDarkBlue;
			padding: 8px 10px;
			color: #fff;
		}
		.content {
			border-bottom: 1px solid $bgDarkBlue;
			.key-value-area2 {
				padding:10px 0 5px 0;
				background: linear-gradient($bgLightGrey, #fff);
				@include cmTa();
				.value {
					display: block;
					padding: 8px 10px;
					font-size: 13px;
				}
			}
		}
	}
	.chart-area {
		border-top: 1px dashed $cborder;
	}
}