<ul class="nav nav-tabs">
    <li class="active" ng-click="show()">
        <a style="font-size: 20px" data-toggle="tab">基础用户</a>
    </li>
    <li ng-click="show2()">
        <a style="font-size: 20px" data-toggle="tab">基础设施</a>
    </li>
</ul>
<div ng-show="tab1">
    <div class="container">
		<tabset>
			<tab heading="基础用户" id="tab_teleOperation">
				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<h4>用户类别选择</h4>
									<div class="radio" ng-repeat="user in userList">
										<label>
											<input type="radio" ng-model="userKindSelected" ng-value="user.name" name="userList" ng-click="userKindChange(user)">
								            <font size="2">{{user.name}}</font>
								        </label>
									</div>
									<table class="container table">
										<th>
											<td class="t-right"><font size="3">{{displayYear}} 年{{userListLastYearTitle}}</font></td>
										</th>
	    								<tr ng-repeat="userOne in userListLastYearSelected">
	    									<td><font size="2">{{userOne.name}}</font></td>
	    									<td class="t-right"><font size="2">{{userOne.number}}人</font></td>
	    								</tr>
									</table>
								</div>
							</div>
							<div><br><br><br></div>
							<div class="row">
								<div class="chart-panel">
									<highchart  id="userPercentageByKindAreaChart"  config="userPercentageByKindAreaChart" ></highchart>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>
<div ng-show="tab2">
    <div class="container">
		<tabset>
			<tab heading="基础设施" id="tab_infrstrct">
				<div class="row" style="margin-top: 20px;">
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<h4>基础设施选择</h4>
									<div class="radio" ng-repeat="infrstrct in infrstrctTotalList">
										<label>
											<input type="radio" ng-model="infrstrctKindSelected" ng-value="infrstrct.name" name="infrstrctTotalList" ng-click="infrstrctKindChange(infrstrct)">
								            <font size="2">{{infrstrct.name}}</font>
								        </label>
									</div>
									<table class="container table table-hover">
										<th>
											<td>
												<font size="3">{{displayYear}} 年{{infrstrctTotalLastYearTitle}}</font>
											</td>
										</th>
	    								<tr ng-repeat="infrstrct in infrstrctListLastYearSelected">
	    									<td><font size="2">{{infrstrct.name}}</font></td>
	    									<td class="t-right"><font size="2">{{infrstrct.number}}{{infrstrctTotalLastYearUnion}}</font></td>
	    								</tr>
									</table>
									
								</div>
							</div>
							<div><br><br><br></div>
							<div class="row">
								<div class="chart-panel">
									<highchart  id="infrstrctPercentageByKindAreaChart" config="infrstrctPercentageByKindAreaChart" ></highchart>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>