<div class="pstelecom-module">
	<div class="tab-container">
		<div class="tabs">
			<div ng-class="{'tab-active': tab1, 'tab-inactive': tab2}" ng-click="changeChart('user')">基础用户</div><!--不要去掉这个注释
	 	 --><div ng-class="{'tab-active': tab2, 'tab-inactive': tab1}" ng-click="changeChart('infrastructure')">基础设施</div>
		</div>
		<div class="divider"></div>
	</div>
	<div class="d1">
		<div class="bar">
			{{title}}
		</div>
		<div class="content">
			<div class="key-value-area1">
				<i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
				<span name="" id="pstelecomToggleButton" class="toggle-button">选择{{type}}</span>
			</div>
			<div class="distribute-toggle-area">
				<div class="toggle-panel" id="psTelecomTogglePanel">
					<input class="toggle-item" type="button" ng-repeat="item in list" ng-click="changeChoice(item)" value="{{item.name}}" name="">
				</div>
			</div>
			<div class="dd">
				<div style="text-align:center;line-height:15px;margin:17px 0;">
					<span style="font-size:15px;">{{displayYear}} 年{{listLastYearTitle}}</span>
				</div>
				<table class="table">
					<tr ng-repeat="one in listLastYearSelected">
						<td>{{one.name}}</td>
						<td align="right">{{one.number}}{{union}}</td>
					</tr>
				</table>
			</div>
			<div class="chart-area">
				<highchart config="lineChart"></highchart>
			</div>
			<div class="chart-area">
				<highchart config="areaChart"></highchart>
			</div>
		</div>
	</div>
</div>