<ul class="nav nav-tabs">
    <li class="active" ng-click="show()">
        <a style="font-size: 20px" data-toggle="tab">大气环境概况</a>
    </li>
    <li ng-click="show2()">
        <a style="font-size: 20px" data-toggle="tab">大气环境分析</a>
    </li>
</ul>
<div ng-show="tab1">
    <div style="margin-top:5px;font-size:16px">
        <button style="width: 32%; font-size: 13px" class="btn" ng-class="getButtonStatus(airQualityStatus.status)"
                ng-click="airQualityBtn()"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp城区空气质量
        </button>
        <button style="width: 32%; font-size: 13px" class="btn" ng-class="getButtonStatus(wasteAirStatus.status)"
                ng-click="wasteAirBtn()"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp工业废气排放
        </button>
    </div>
    <div style="height: 380px; border: #ccc solid 1px;" id="map_canvas"></div>
    <div style="margin-top: 15px">
        <div class="panel panel-primary">
            <div ng-show="mapTableStatus.airQuality">
                <h5 align="left" style="padding-top: 0px">&nbsp(更新时间:&nbsp{{airQualityCurrentDateTime.year + '-'
                    + airQualityCurrentDateTime.month + '-'
                    + airQualityCurrentDateTime.day + ' '
                    + airQualityCurrentDateTime.hour + '时'}}&nbsp&nbsp单位：μg/m³)</h5>
                <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                    <tr>
                        <th style="width:30%">监测点</th>
                        <th style="width:14%">AQI</th>
                        <th style="width:14%">PM2.5</th>
                        <th style="width:14%">PM10</th>
                        <th style="width:14%">NO2</th>
                        <th style="width:14%">SO2</th>
                    </tr>
                </table>
            </div>
            <div style="overflow: auto; overflow-x:hidden;height: 180px" ng-show="mapTableStatus.airQuality">
                <table class="table table-striped" style="font-size:14px">
                    <tr ng-repeat="airQualityOne in airQualityMarkerList">
                        <td style="width:30%">{{airQualityOne.monitor}}</td>
                        <td style="width:14%"><span>{{airQualityOne.index_aqi}}</span></td>
                        <td style="width:14%"><span>{{airQualityOne.index_pm25}}</span></td>
                        <td style="width:14%"><span>{{airQualityOne.index_pm10}}</span></td>
                        <td style="width:14%"><span>{{airQualityOne.index_no2}}</span></td>
                        <td style="width:14%"><span>{{airQualityOne.index_so2}}</span></td>
                    </tr>
                </table>
            </div>
            <div ng-show="mapTableStatus.wasteAir">
                <h5 align="left" style="padding-top: 0px">&nbsp(更新时间:&nbsp{{wasteAirCurrentDateTime.year + '-'
                    + wasteAirCurrentDateTime.month + '-'
                    + wasteAirCurrentDateTime.day }})</h5>
                <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                    <tr>
                        <th style="width:20%">企业</th>
                        <th style="width:20%">流量(m³)</th>
                        <th style="width:20%">烟尘<br>(mg/m³)</th>
                        <th style="width:20%">SO2<br>(mg/m³)</th>
                        <th style="width:20%">氮氧化物<br>(mg/m³)</th>
                    </tr>
                </table>
            </div>
            <div style="overflow: auto; overflow-x:hidden;height: 180px" ng-show="mapTableStatus.wasteAir">
                <table class="table table-striped" style="font-size:14px">
                    <tr ng-repeat="wasteAirOne in wasteAirMarkerList">
                        <td style="width:20%">{{wasteAirOne.monitor.slice(0,6)}}</td>
                        <td style="width:20%"><span>{{(wasteAirOne.index_discharge[1]/100000000).toFixed(2)}}亿</span>
                        </td>
                        <td style="width:20%"><span>{{wasteAirOne.index_smoke.toFixed(2)}}</span></td>
                        <td style="width:20%"><span>{{wasteAirOne.index_so2.toFixed(2)}}</span></td>
                        <td style="width:20%"><span>{{wasteAirOne.index_no.toFixed(2)}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div ng-show="tab2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            空气质量分析<i class="fa fa-question-circle-o pull-right" aria-hidden="true"></i>
        </div>
        <div class="panel-body">
            <nav class="navbar navbar-default" role="navigation" du-scroll-container="scroll-container">
                <a style="font-size: 15px;margin-left: 3px" href="#airQualityAnchorTop" du-smooth-scroll>空气质量指标</a>
                <a href="#airQualityAnchor1" style="margin-left: 3%;font-size: 13px" class="btn btn-default navbar-btn"
                   du-smooth-scroll>AQI</a>
                <a href="#airQualityAnchor2" style="margin-left: 3%;font-size: 13px" class="btn btn-default navbar-btn"
                   du-smooth-scroll>PM2.5</a>
                <a href="#airQualityAnchor3" style="margin-left: 3%;font-size: 13px" class="btn btn-default navbar-btn "
                   du-smooth-scroll>PM10</a>
                <a href="#airQualityAnchor4" style="margin-left: 3%;font-size: 13px" class="btn btn-default navbar-btn "
                   du-smooth-scroll>二氧化硫</a>
                <a href="#airQualityAnchor5" style="margin-left: 3%;font-size: 13px" class="btn btn-default navbar-btn "
                   du-smooth-scroll>二氧化氮</a>
                <a href="#airQualityAnchor6" style="margin-left: 3%;font-size: 13px" class="btn btn-default navbar-btn "
                   du-smooth-scroll>一氧化碳</a>
                <a href="#airQualityAnchor7" style="margin-left: 3%;font-size: 13px" class="btn btn-default navbar-btn "
                   du-smooth-scroll>臭氧</a>
            </nav>
            <div style="border-right: 0.5px solid black; overflow: auto; height: 500px; display: inline-block; float: left" id="scroll-container">
                <p id="airQualityAnchorTop"></p>
                <div id="airQualityAnchor1" style="margin-left: 10%">
                    <highchart config="airQualityOptions.aqiOption"></highchart>
                </div>
                <div>
                    <highchart config="airQualityOptions.currentAqiLineOption"></highchart>
                </div>
                <div id="airQualityAnchor2" style="margin-left: 10%">
                    <highchart config="airQualityOptions.pm25Option"></highchart>
                </div>
                <div>
                    <highchart config="airQualityOptions.currentPm25LineOption"></highchart>
                </div>
                <div id="airQualityAnchor3" style="margin-left: 10%">
                    <highchart config="airQualityOptions.pm10Option"></highchart>
                </div>
                <div>
                    <highchart config="airQualityOptions.currentPm10LineOption"></highchart>
                </div>
                <div id="airQualityAnchor4" style="margin-left: 10%">
                    <highchart config="airQualityOptions.so2Option"></highchart>
                </div>
                <div>
                    <highchart config="airQualityOptions.currentSo2LineOption"></highchart>
                </div>
                <div id="airQualityAnchor5" style="margin-left: 10%">
                    <highchart config="airQualityOptions.no2Option"></highchart>
                </div>
                <div>
                    <highchart config="airQualityOptions.currentNo2LineOption"></highchart>
                </div>
                <div id="airQualityAnchor6" style="margin-left: 10%">
                    <highchart config="airQualityOptions.coOption"></highchart>
                </div>
                <div>
                    <highchart config="airQualityOptions.currentCoLineOption"></highchart>
                </div>
                <div id="airQualityAnchor7" style="margin-left: 10%">
                    <highchart config="airQualityOptions.o3Option"></highchart>
                </div>
                <div>
                    <highchart config="airQualityOptions.currentO3LineOption"></highchart>
                </div>
            </div>
            <p style="font-size: 15px;margin-left: 75%">空气质量监测点</p>
            <div style="margin-left: 75%" class="radio" ng-repeat="airQualityOne in airQualityCurrentList">
                <label style="margin-left: 5%">
                    <input type="radio" ng-model="airQualityCurrentListSelected" ng-value="airQualityOne.monitor"
                           name="airQualityCurrentListRadio" ng-click="airQualityCurrentChange(airQualityOne)">{{airQualityOne.monitor}}
                </label>
            </div>
            <!--<div style="margin-left: 75%;width: 20%">-->
                <!--<img src="/assets/images/Environment/one-sentence.png" />-->
            <!--</div>-->
            <div style="margin-left: 75%;margin-top: 3px">{{airQualityCurrentDateTime.year}}年{{airQualityCurrentDateTime.month}}月{{airQualityCurrentDateTime.day}}日{{airQualityCurrentDateTime.hour}}时</div>
            <div style="margin-left: 75%;">{{airQualityOneSentence.monitor}}</div>
            <div style="margin-left: 75%">空气质量等级:&nbsp{{airQualityOneSentence.level}} 级</div>
            <div style="margin-left: 75%">首要污染物:&nbsp{{airQualityOneSentence.firstElement}}</div>
            <div style="margin-left: 75%">
                <span ng-class="getOneSentenceStatus(airQualityOneSentence.aqiStatus.status)"></span>
                &nbsp{{airQualityOneSentence.aqiStatus.sentence}}
            </div>
            <div style="margin-left: 75%">
                <span ng-class="getOneSentenceStatus(airQualityOneSentence.pm25Status.status)"></span>
                &nbsp{{airQualityOneSentence.pm25Status.sentence}}
            </div>
            <div style="margin-left: 75%">
                <span ng-class="getOneSentenceStatus(airQualityOneSentence.pm10Status.status)"></span>
                &nbsp{{airQualityOneSentence.pm10Status.sentence}}
            </div>
            <div style="margin-left: 75%">
                <span ng-class="getOneSentenceStatus(airQualityOneSentence.so2Status.status)"></span>
                &nbsp{{airQualityOneSentence.so2Status.sentence}}
            </div>
            <div style="margin-left: 75%">
                <span ng-class="getOneSentenceStatus(airQualityOneSentence.no2Status.status)"></span>
                &nbsp{{airQualityOneSentence.no2Status.sentence}}
            </div>
            <div style="margin-left: 75%">
                <span ng-class="getOneSentenceStatus(airQualityOneSentence.coStatus.status)"></span>
                &nbsp{{airQualityOneSentence.coStatus.sentence}}
            </div>
            <div style="margin-left: 75%">
                <span ng-class="getOneSentenceStatus(airQualityOneSentence.o3Status.status)"></span>
                &nbsp{{airQualityOneSentence.o3Status.sentence}}
            </div>
        </div>
    </div>
    <div class="panel panel-primary" style="height: 550px;border:1px solid white">
        <div class="panel-heading">
            废气排放分析<i class="fa fa-question-circle-o pull-right" aria-hidden="true"></i>
        </div>
        <div class="panel-body">
            <span ng-repeat="wasteAirOne in wasteAirCurrentList">
                <label style="margin-left: 2%">
                    <input type="radio" ng-model="wasteAirCurrentListSelected" ng-value="wasteAirOne"
                           name="wasteAirCurrentListRadio" ng-click="wasteAirCurrentChange(wasteAirOne)">{{wasteAirOne}}
                </label>
            </span>
            <highchart config="wasteAirOptions.wasteAirCurrentOption">废气排放</highchart>
        </div>
    </div>
</div>