 <div class="scrollable"style="height: 90%;margin-top: 50px">
  <div class="scrollable-content" >
<div class="panel panel-default">
                        <div class="panel-heading" ng-click="show()" style="background-color:#3399CC;color:white">
                        <div style="display:flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;width: 100%"></div>
                            <div ><h4 class="panel-title" style="margin:auto ;color:white">
                                居民消费价格指数趋势
                            </h4></div>
                        </div>
                        <div style="position: relative;">
                            <div class="panel-body" style="position: absolute;z-index: 1;width: 99%;" >
                                <highchart config="cpiHighChartOptions.cpiTrendOption"  id="InvestValueChart"  style="height:{{smallheight}}px"></highchart>
                            </div>
                            <div style="width: 95%;height: {{newheight}}px;position: absolute;z-index: 2;background-color: rgb(255,255,255);margin-left: 2%;box-shadow: 5px 5px 5px gray" ng-if="show1" class="fadein fadeout">
                            <span style="margin-left: 27%;font-size: 2em">居民消费指数详细数据</span>
                                <div class="table-responsive" style="padding:5px">
                                    <table class="table">
                                        <tr>
                                            <td class="info" style="text-align: center;">时间</td>
                                            <td class="info" style="text-align: center;">同比</td>
                                            <td class="info" style="text-align: center;">累计比</td>
                                        </tr>
                                        <tr ng-repeat="index in cpiDetailIndexList">
                                            <td style="text-align: center;">{{cpiDetailHeaderList[index]}}</td>
                                            <td class="t-right" style="text-align: center;">{{cpiDetailDataList[0].data[index] | number:2}}</td>
                                            <td class="t-right" style="text-align: center;">{{cpiDetailDataList[1].data[index] | number:2}}</td>
                                        </tr>
                                    </table>
                                </div>
                                 <highchart config="cpiHighChartOptions.cpiTrendDetailOption" style="margin-top: 20px"></highchart>
                            </div>
                        </div>
</div>

<div class="panel panel-default" style="margin-top:{{bigheight}}px">
                        <div class="panel-heading" ng-click="showtwo()" style="background-color:#3399CC;color:white">
                            <h4 class="panel-title">
                                居民消费价格指数类别同比累计
                            </h4>
                        </div>
                        <div style="position: relative;">
                            <div class="panel-body" style="position: absolute;z-index: 1;width: 99%;" >
                                <highchart config="cpiHighChartOptions.categoryDetailOption"  id="ClassInvestValueChart" style="height:{{smallheight}}px"></highchart>
                            </div>
                            <div style="width: 95%;height: {{newheight}}px;position: absolute;z-index: 2;background-color: rgb(255,255,255);margin-left: 2%;box-shadow: 5px 5px 5px gray" ng-if="show2" class="fadein fadeout">
                            <span style="margin-left: 27%;font-size: 2em">居民消费指数详细数据</span>
                               <div class="table-responsive" style="padding:5px">
                                    <table class="table">
                                        <tr>
                                            <td class="info" style="text-align: center;">价格指数</td>
                                            <td class="info" style="text-align: center;">同比</td>
                                            <td class="info" style="text-align: center;">累计比</td>
                                        </tr>
                                        <tr ng-repeat="index in [0,1,2,3,4,5,6,7]">
                                            <td>{{CPIDATA.columnXAxis[index]}}</td>
                                            <td class="t-right">{{cpiDataList[0].data[index] | number:2}}</td>
                                            <td class="t-right">{{cpiDataList[1].data[index] | number:2}}</td>
                                        </tr>
                                    </table>
                               </div>
                            </div>
                        </div>
</div>
<div class="panel panel-default" style="margin-top: {{bigheight}}px">
                        <div class="panel-heading" ng-click="showthree()" style="background-color:#3399CC;color:white">
                            <h4 class="panel-title" style="display: inline-block;">
                                居民消费价格指数类别同比累计
                            </h4>
                        </div>
                        <div style="position: relative;">
                            <div class="panel-body" style="position: absolute;z-index: 1;width: 99%" >
                                <highchart config="cpiHighChartOptions.detailTrendOption" id="CapitalValueChart" style="height:{{smallheight}}px"></highchart>
                            </div>
                            <div style="width: 95%;height: {{newheight}}px;position: absolute;z-index: 2;background-color: rgb(255,255,255);margin-left: 2%;box-shadow: 5px 5px 5px gray" ng-if="show3" class="fadein fadeout">
                            <span style="margin-left: 10%;font-size: 1.5em">居民消费价格指数类别同比累计详细数据</span>
                              <div class="table-responsive" style="padding:5px">
                                    <table class="table">
                                        <tr>
                                            <td class="info" style="text-align: center;">时间</td>
                                            <td class="info" style="text-align: center;">同比</td>
                                            <td class="info" style="text-align: center;">累计比</td>
                                        </tr>
                                        <tr ng-repeat="index in detailTrendIndexList">
                                            <td style="text-align: center;">{{detailTrendHeaderList[index]}}</td>
                                            <td class="t-right" style="text-align: center;">{{detailTrendDataList[0].data[index] | number:2}}</td>
                                            <td class="t-right" style="text-align: center;">{{detailTrendDataList[1].data[index] | number:2}}</td>
                                        </tr>
                                    </table>
                               </div>
                                <highchart config="cpiHighChartOptions.detailTrendDetailOption"></highchart>
                            </div>
                        </div>
</div>
</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
   <div class="btn-group btn-group-justified">
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-sref="app.livehood.detail({kpiId:2101})" style="color: gray">返回</a>
  </div>
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-turn-on="modal2"></a>
  </div>
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-turn-off="modal2"></a>
  </div>
</div>
  </div>
