<div class="scrollable"style="height: {{newheight}}px;margin-top: 50px">
  <div class="scrollable-content" >
<div class="panel panel-default">
                        <div class="panel-heading" >
                            <h4 class="panel-title" style="display: inline-block;">
                                农副产品市场价格
                            </h4>
                            <a href="#" style="display: inline-block;color: gray;margin-left: 30%" ng-click="showfour()">设置图表</a>
                        </div>
                        <div style="position: relative;">
                            <div class="panel-body" style="position: absolute;z-index: 1;width: 99%" >
                               <highchart id="foodPriceHighChart" config="foodPriceHighChartOption"></highchart>
                            </div>
                            <div style="width: 70%;height: 500px;position: absolute;z-index: 2" class="fadein fadeout" ng-if="show4">
                                <div class="row">
                                <button class="btn btn-default btn-block" ng-click="initFoodPriceHighChart()" style="background-color:lightgreen">恢复图表至默认</button>
                                            <div ng-repeat="tempFoodType in PRICEDATA" style="margin-bottom: 10px">
                                                <button class="btn btn-default btn-block" ng-click="tempFoodType.isCollapsed = !tempFoodType.isCollapsed">{{tempFoodType.name}}</button>
                                                <div collapse="!tempFoodType.isCollapsed" style="border: 1px solid black; background-color:skyblue">
                                                    <div class="row">
                                                        <div class="col-md-6" ng-repeat="tempFood in tempFoodType.data" style="font-size: 14px">
                                                            <label class="col-md-10">{{tempFood.name}}</label>
                                                            <input class="col-md-2" type="checkbox" ng-model="tempFood.model" ng-change="checkBoxChange(tempFood)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
</div>
</div>
</div>


<div class="navbar navbar-app navbar-absolute-bottom">
   <div class="btn-group btn-group-justified">
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-sref="app.economy.economylist" style="color: gray">返回上页</a>
  </div>
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-turn-on="modal2"></a>
  </div>
  <div class="btn-group">
    <a type="button" class="btn btn-default" ui-turn-off="modal2"></a>
  </div>
</div>
  </div>