.soraka-menu-module {
	.soraka-body {
		background-color: $bgLightGrey;
		padding: 50px 0px;
	}
	.soraka-menu-navbar-top {
		background-color: $bgDarkBlue;
		span {
			font-size: 0.9em;
		}
	}
	.soraka-menu-navbar-bottom {
		background-color: $bgDarkBlue;
	}
}
.soraka-sidebar-left {
	background-color: $bgLightGrey;
	h1, a {
		color: $fontBlack;
	}
}