<div class="app cm-module">
	<div class="navbar navbar-app navbar-absolute-top cm-menu-navbar-top">
		<div id="homewillch" class="cm-return-home homepage" ui-sref="app.in.home"><i class="fa fa-home" aria-hidden="true"></i><span>主页</span></div>
		<div class="insurance-return-home insurance-return" ui-sref="app.in.home"><i class="fa fa-home" aria-hidden="true"></i><span>主页</span></div>
		<div class="cm-kpi-choose navTopShowMark" ui-turn-on='kpiChoiceDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>KPI分类</span></div>
		<div class="cm-kpi-status navTopShowMark" ui-turn-on='kpiStatusDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>KPI状态</span></div>
		<div style="width: 60%;" class="cm-kpi-choose navTopShowPopulation" ui-turn-on='populationChoiceDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>{{populationStructure.title}}</span></div>
         <!--社会保险模块内容  -->
		<div style="width: 60%;" class="cm-kpi-choose navTopShowInsurance" ui-turn-on='kpiInsuranceDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span >{{insuranceTitle}}</span></div>
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiChoiceDropdown')"
			ui-outer-click-if="Ui.active('kpiChoiceDropdown')"
			role="menu"
			ui-show="kpiChoiceDropdown"
			ui-state="kpiChoiceDropdown"
			ui-turn-off="kpiChoiceDropdown">
			<li id="livehood2003"><a ui-sref="app.livehood.livehoodlist({categoryId:2003})" ng-click="changeCategory('人口结构')" href="javascript:void(0)">人口结构</a></li>
			<li class="divider"></li>
			<li id="livehood2004"><a ui-sref="app.livehood.livehoodlist({categoryId:2004})" ng-click="changeCategory('社会保险')"  href="javascript:void(0)">社会保险</a></li>
			<li class="divider"></li>
			<li id="livehood2001"><a ui-sref="app.livehood.livehoodlist({categoryId:2001})" ng-click="changeCategory('价格指数')" href="javascript:void(0)">价格指数</a></li>
		</ul>
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('populationChoiceDropdown')"
			ui-outer-click-if="Ui.active('populationChoiceDropdown')"
			ui-show="populationChoiceDropdown"
			ui-state="populationChoiceDropdown"
			ui-turn-off="populationChoiceDropdown"
			style="z-index: 1000;">
			<li><a ui-sref="app.livehood.PopulationStructure" href="javascript:void(0)" ng-click="changeTitle('人口结构图')">人口结构图</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.TerminalPopulation" href="javascript:void(0)" ng-click="changeTitle('期末户籍人口数')">期末户籍人口数</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.BornDeath" href="javascript:void(0)" ng-click="changeTitle('出生人口与死亡人口详情')">出生人口与死亡人口详情</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.BearingWomen" href="javascript:void(0)" ng-click="changeTitle('户籍育龄妇女详情')">户籍育龄妇女详情</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.FirstMarriage" href="javascript:void(0)" ng-click="changeTitle('初婚女性详情')">初婚女性详情</a></li>
		</ul>
          <!-- 社会保险部分代码 -->
		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiInsuranceDropdown')"
			ui-outer-click-if="Ui.active('kpiInsuranceDropdown')"
			ui-show="kpiInsuranceDropdown"
			ui-state="kpiInsuranceDropdown"
			ui-turn-off="kpiInsuranceDropdown"
			style="z-index: 1000;">
			<li><a ui-sref="app.livehood.UrbanBasicEndowmentInsuranceData" href="javascript:void(0)" ng-click="changeInsuranceTitle('城镇基本养老保险')">城镇基本养老保险</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.UnemploymentInsuranceData" href="javascript:void(0)" ng-click="changeInsuranceTitle('失业保险')">失业保险</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.UrbanBasicMedicalInsuranceData" href="javascript:void(0)" ng-click="changeInsuranceTitle('城镇基本医疗保险')">城镇基本医疗保险</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.UrbanResidentsMedicalInsuranceData" href="javascript:void(0)" ng-click="changeInsuranceTitle('城镇居民医疗保险')">城镇居民医疗保险</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.EmploymentInjuryInsuranceData" href="javascript:void(0)" ng-click="changeInsuranceTitle('工伤保险')">工伤保险</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.MaternityInsuranceData" href="javascript:void(0)" ng-click="changeInsuranceTitle('生育保险')">生育保险</a></li>
			<li class="divider"></li>
			<li><a ui-sref="app.livehood.ResidentsBasicEndowmentInsuranceData" href="javascript:void(0)" ng-click="changeInsuranceTitle('居民基本养老保险')">居民基本养老保险</a></li>
		</ul>

		



		<ul class="dropdown-menu cm-dropdown-ul"
			ui-outer-click="Ui.turnOff('kpiStatusDropdown')"
			ui-outer-click-if="Ui.active('kpiStatusDropdown')"
			role="menu"
			ui-show="kpiStatusDropdown"
			ui-state="kpiStatusDropdown"
			ui-turn-off="kpiStatusDropdown">
			<li><a ng-click="changeState('ALL')">全部</a></li>
			<li class="divider"></li>
			<li><a ng-click="changeState('GREEN')" class="clevel1">可接受</a></li>
			<li class="divider"></li>
			<li><a ng-click="changeState('YELLOW')" class="clevel2">轻微问题</a></li>
			<li class="divider"></li>
			<li><a ng-click="changeState('RED')" class="clevel3">问题</a></li>
		</ul>
	</div>
	<div class="app-body" ng-class="{loading: loading}">
		<div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
		<div class="app-content"  id="cmAppContent">
			<div class="scrollable">
				<div class="scrollable-content">
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div class="navbar navbar-app navbar-absolute-bottom cm-menu-navbar-bottom">
		<div class="btn-group pull-left cm-menu-navbar-bottomleft navbar2return" ng-click="toH()">
			<i class="fa fa-chevron-left" aria-hidden="true"></i><span>返回</span>
		</div>
		<a style="margin-left: 100px;display: inline-block;margin-top: 15px;" ui-sref="app.thirddetail.select">临时跳转点</a>
	</div>
	-->
	<div class="navbar navbar-app navbar-absolute-bottom cm-menu-navbar-bottom">
		<div class="btn-group pull-left cm-menu-navbar-bottomleft insurance1return" ng-click="toH()">
			<i class="fa fa-chevron-left"></i><span>返回</span>
		</div>
		<div class="btn-group pull-right cm-menu-navbar-bottomright insurance2detail">
			<span class="s3" ng-click="toDetail()"><i class="fa fa-hand-o-right" aria-hidden="true"></i><span>查看KPI详情</span></span>
		</div>
	</div>
</div>