<div class="pseducation-module">
	<div class="d1">
		 <div class="bar">
		 	投入保障
		 </div>
		 <div calss="content">
		 	<div class="chart-area">
		 		<highchart config="invstGrntBarChart"></highchart>
		 	</div>
		 </div>
	</div>
	<div class="d2">
		<div class="bar">
			教育拨款
		</div>
		<div class="content">
			<div class="key-value-area1">
				<div class="title-area">
					<span class="title">一句话解读</span>
				</div>
				<span class="value">{{lastYear}}年公共财政预算教育拨款为：{{investGrntLastYearList[0].number}} 万元，比上年同期增长{{investGrntLastYearList[1].number}} %。</span>
			</div>
			<div class="chart-area">
				<highchart config="pubFinEduChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d2">
		<div class="bar">
			财政收入
		</div>
		<div class="content">
			<div class="key-value-area1">
				<div class="title-area">
					<span class="title">一句话解读</span>
				</div>
				<span class="value">{{lastYear}}年财政经常性收入为：{{investGrntLastYearList[2].number}}亿元，比上年同期增长{{investGrntLastYearList[3].number}} %。</span>
			</div>
			<div class="chart-area">
				<highchart config="financeRegIncomeChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d2">
		<div class="bar">
			公共财政预算教育拨款增长高于财政经常性收入增长
		</div>
		<div class="content">
			<div class="key-value-area1">
				<div class="title-area">
					<span class="title">一句话解读</span>
				</div>
				<span class="value">{{lastYear}}年财政经常性收入为：{{investGrntLastYearList[2].number}}亿元，比上年同期增长{{investGrntLastYearList[3].number}} %。</span>
			</div>
			<div class="chart-area">
				<highchart config="financeRegIncomeChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d3">
		<div class="bar">
			生均公共财政预算教育事业费支出增长情况
		</div>
		<div class="content">
			<div class="key-value-area2">
				<i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
				<span name="" id="pseducationToggleButton2" class="toggle-button">选择学校类别</span>
			</div>
			<div class="school-toggle-area">
				<div class="toggle-panel" id="pseducationTogglePanel2">
					<input class="toggle-item" type="button" ng-repeat="investGrntOne in perEduFundGrntList" ng-click="investGrntKindChange(investGrntOne)" value="{{investGrntOne.name}}" name="">
				</div>
			</div>
			<div class="chart-area">
				<highchart config="perEduFundChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d3">
		<div class="bar">
			生均公共财政预算教育事业费支出增长增减率情况
		</div>
		<div class="content">
			<div class="key-value-area2">
				<i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
				<span name="" id="pseducationToggleButton3" class="toggle-button">选择学校类别</span>
			</div>
			<div class="school-toggle-area">
				<div class="toggle-panel" id="pseducationTogglePanel3">
					<input class="toggle-item" type="button" ng-repeat="investGrntTwo in perEduFundGrntRateList" ng-click="investGrntRateKindChange(investGrntTwo)" value="{{investGrntTwo.name}}" name="">
				</div>
			</div>
			<div class="chart-area">
				<highchart config="perEduFundRateChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d3">
		<div class="bar">
			生均公共财政预算公用经费支出增长情况
		</div>
		<div class="content">
			<div class="key-value-area2">
				<i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
				<span name="" id="pseducationToggleButton4" class="toggle-button">选择学校类别</span>
			</div>
			<div class="school-toggle-area">
				<div class="toggle-panel" id="pseducationTogglePanel4">
					<input class="toggle-item" type="button" ng-repeat="investpubGrntOne in perFundGrntList" ng-click="investpubGrntKindChange(investpubGrntOne)" value="{{investpubGrntOne.name}}" name="">
				</div>
			</div>
			<div class="chart-area">
				<highchart config="perFundChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d3">
		<div class="bar">
			生均公共财政预算公用经费支出增长增减率情况
		</div>
		<div class="content">
			<div class="key-value-area2">
				<i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
				<span name="" id="pseducationToggleButton5" class="toggle-button">选择学校类别</span>
			</div>
			<div class="school-toggle-area">
				<div class="toggle-panel" id="pseducationTogglePanel5">
					<input class="toggle-item" type="button" ng-repeat="investpubGrntTwo in perFundGrntRateList" ng-click="investpubGrntRateKindChange(investpubGrntTwo)" value="{{investpubGrntTwo.name}}" name="">
				</div>
			</div>
			<div class="chart-area">
				<highchart config="perFundRateChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d2">
		<div class="bar">
			国家财政性教育经费占国内生产总值的比例
		</div>
		<div class="content">
			<div class="key-value-area1">
				<div class="title-area">
					<span class="title">一句话解读</span>
				</div>
				<span class="value">{{lastYear}}年国家财政性教育经费占国内生产总值的比例增减率为：{{investGrntLastYearList[21].number}} %，比上年同期增长{{investGrntLastYearList[22].number}}%。</span>
			</div>
			<div class="chart-area">
				<highchart config="stateChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d2">
		<div class="bar">
			公共财政预算教育经费占公共财政预算支出的比例
		</div>
		<div class="content">
			<div class="key-value-area1">
				<div class="title-area">
					<span class="title">一句话解读</span>
				</div>
				<span class="value">{{lastYear}}年公共财政预算教育经费占公共财政预算支出的比例增减率为：{{investGrntLastYearList[23].number}} %，比上年同期增长{{investGrntLastYearList[24].number}}%。</span>
			</div>
			<div class="chart-area">
				<highchart config="pubEduFinanceChart"></highchart>
			</div>
		</div>
	</div>
</div>