<ul class="nav nav-tabs">
    <li class="active" ng-click="show()">
        <a style="font-size: 10px" data-toggle="tab">教育公平与普及</a>
    </li>
    <li ng-click="show2()">
        <a style="font-size: 10px" data-toggle="tab">教育质量与贡献</a>
    </li>
    <li ng-click="show3()">
        <a style="font-size: 10px" data-toggle="tab">教育保障</a>
    </li>
</ul>
<div ng-show="tab1">
    <div class="container">
    	<div class="row" style="margin-top: 20px;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					教育普及
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div>
							<h4>教育普及类别选择</h4>
							<div class="radio" ng-repeat="eduUniversalOne in eduUniversalList">
								<label>
									<input type="radio" ng-model="eduUniversalKindSelected" ng-value="eduUniversalOne.name" name="eduUniversalList" ng-click="eduUniversalKindChange(eduUniversalOne)">
						            <font size="3">{{eduUniversalOne.name}}</font>
						        </label>
							</div>
						</div>
						<div class="chart-panel">
							<highchart  id="eduUniversalByKindColumnChart"config="eduUniversalByKindColumnChart" ></highchart>
						</div>
						<div>
							<table class="table table-hover">
								<caption><h4>{{eduUniversalLastYear}} 年教育普及情况</h4></caption>
								<tr ng-repeat="eduUniversal in eduUniversalLastYearList">
									<td style="width:60%"><font size="3">{{eduUniversal.name}}</font></td>
									<td style="width:40%" class="t-right"><font size="3">{{eduUniversal.number}}%</font></td>
								</tr>
							</table>	
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					办学条件校际均衡差异系数
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div>
							<h4>校际差异系数类别选择</h4>
							<div class="radio" ng-repeat="eduEquityIndexOne in eduEquityIndexList">
								<label>
									<input type="radio" ng-model="eduEquityIndexKindSelected" ng-value="eduEquityIndexOne.name" name="eduEquityIndexList" ng-click="eduEquityIndexKindChange(eduEquityIndexOne)">
						            <font size="3">{{eduEquityIndexOne.name}}</font>
						        </label>
							</div>
						</div>
						<div class="chart-panel">
							<highchart  id="eduEquityIndexKindColumnChart"config="eduEquityIndexKindColumnChart" ></highchart>
						</div>
						<div>
							<table class="table table-hover">
								<caption><h4>{{eduUniversalLastYear}} 年办学条件校际均衡差异系数情况</h4></caption>
								<tr ng-repeat="eduEquityIndex in eduEquityIndexLastYearList">
									<td style="width:60%"><font size="3">{{eduEquityIndex.name}}</font></td>
									<td style="width:40%" class="t-right"><font size="3">{{eduEquityIndex.number}}</font></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="tab2">
    <div class="container">
    	<div class="row" style="margin-top: 20px;">
			<div class="panel panel-primary">
						<div class="panel-heading">
								学业质量
							<span class="glyphicon glyphicon-question-sign pull-right"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div>
									<h4>学业质量类别选择</h4>
									<div class="radio" ng-repeat="studyQualityOne in studyQuality">
										<label>
											<input type="radio" ng-model="studyQualityKindSelected" ng-value="studyQualityOne.name" name="studyQuality" ng-click="studyQualityKindChange(studyQualityOne)">
								            <font size="3">{{studyQualityOne.name}}</font>
								        </label>
									</div>
								</div>
								<div class="chart-panel">
									<highchart  id="studyQualityByKindColumnChart" config="studyQualityByKindColumnChart" ></highchart>
								</div>
								<div>
									<table class="table table-hover">
										<caption><h4>{{lastYear}} 年学业质量情况</h4></caption>
	    								<tr ng-repeat="studyQuality in studyQualityLastYearList">
	    									<td style="width:65%"><font size="3">{{studyQuality.name}}</font></td>
	    									<td style="width:35%" class="t-right"><font size="3">{{studyQuality.number}}%</font></td>
	    								</tr>
									</table>
									
								</div>
							</div>
							<div>
							</div>
						</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
						学校质量
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div>
							<h4>学校质量类别选择</h4>
							<div class="radio" ng-repeat="schoolQualityOne in schoolQuality">
								<label>
									<input type="radio" ng-model="schoolQualityKindSelected" ng-value="schoolQualityOne.name" name="schoolQualityLastYearList" ng-click="schoolQualityKindChange(schoolQualityOne)">
						            <font size="3">{{schoolQualityOne.name}}</font>
						        </label>
							</div>
						</div>
						<div class="chart-panel">
							<highchart  id="schoolQualityByKindColumnChart" config="schoolQualityByKindColumnChart" ></highchart>
						</div>
						<div>
							<table class="table table-hover">
								<caption><h4>{{lastYear}} 年学校质量情况</h4></caption>
								<tr ng-repeat="schoolQuality in schoolQualityLastYearList">
									<td style="width:65%"><font size="3">{{schoolQuality.name}}</font></td>
									<td style="width:35%" class="t-right"><font size="3">{{schoolQuality.number}}%</font></td>
								</tr>
							</table>
							
						</div>
					</div>
					<div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
						教学成果
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div>
							<h4>教学成果类别选择</h4>
							<div class="radio" ng-repeat="enrollOne in enroll">
								<label>
									<input type="radio" ng-model="eduEnrollKindSelected" ng-value="enrollOne.name" name="enrollLastYearList" ng-click="enrollKindChange(enrollOne)">
						            <font size="3">{{enrollOne.name}}</font>
						        </label>
							</div>
						</div>
						<div class="chart-panel">
							<highchart  id="eduEnrollByKindBarChart" config="eduEnrollByKindBarChart" ></highchart>
						</div>
						<div>
							<table class="table table-hover">
								<caption><h4>{{lastYear}} 年学校教学成果</h4></caption>
								<tr ng-repeat="enroll in enrollLastYearList">
									<td style="width:65%"><font size="3">{{enroll.name}}</font></td>
									<td style="width:35%" class="t-right"><font size="3">{{enroll.number}}%</font></td>
								</tr>
							</table>
						</div>
					</div>
					<div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
						教育贡献
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div>
							<h4>教育贡献类别选择</h4>
							<div class="radio" ng-repeat="contribOne in contrib">
								<label>
									<input type="radio" ng-model="eduContribKindSelected" ng-value="contribOne.name" name="contrib" ng-click="contribKindChange(contribOne)">
						            <font size="3">{{contribOne.name}}</font>
						        </label>
							</div>
						</div>
						<div class="chart-panel">
							<highchart  id="eduContribByKindBarChart" config="eduContribByKindBarChart" ></highchart>
						</div>
						<div>
							<table class="table table-hover">
								<caption><h4>{{lastYear}} 年教育贡献情况</h4></caption>
								<tr>
									<td style="width:65%"><font size="3">{{contribLastYearList[0].name}}</font></td>
									<td style="width:35%" class="t-right"><font size="3">{{contribLastYearList[0].number}}年</font></td>
								</tr>
								<tr>
									<td style="width:65%"><font size="3">{{contribLastYearList[1].name}}</font></td>
									<td style="width:35%" class="t-right"><font size="3">{{contribLastYearList[1].number}}年</font></td>
								</tr>
								<tr>
									<td style="width:65%"><font size="3">{{contribLastYearList[2].name}}</font></td>
									<td style="width:35%" class="t-right"><font size="3">{{contribLastYearList[2].number}}%</font></td>
								</tr>
								<tr>
									<td style="width:65%"><font size="3">{{contribLastYearList[3].name}}</font></td>
									<td style="width:35%" class="t-right"><font size="3">{{contribLastYearList[3].number}}%</font></td>
								</tr>
							</table>
						</div>
					</div>
					<div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="tab3">
    <div class="container">
    	<div class="row" style="margin-top: 20px;">
			<div class="panel panel-primary">
				<div class="panel-heading">
						教师学历比例
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="chart-panel">
							<highchart  id="tchrGrntByKindBarChart"config="tchrGrntByKindBarChart" ></highchart>
						</div>
						<div>
							<table class="table table-hover">
								<caption><h4>{{lastYear}} 年教师学历比例情况</h4></caption>
								<tr ng-repeat="tchrGrnt in tchrGrntLastYearList">
									<td><font size="3">{{tchrGrnt.name}}</font></td>
									<td><font size="3">{{tchrGrnt.number}}%</font></td>
								</tr>
							</table>
							<h4>教师学历比例类别选择</h4>
							<div class="radio" ng-repeat="tchrGrntOne in tchrGrntList">
								<label>
									<input type="radio" ng-model="tchrGrntKindSelected" ng-value="tchrGrntOne.name" name="tchrGrntList" ng-click="tchrGrntKindChange(tchrGrntOne)">
						            <font size="3">{{tchrGrntOne.name}}</font>
						        </label>
							</div>
						</div>
					</div>
					<div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
						<div class="panel-heading">
								投入保障
							<span class="glyphicon glyphicon-question-sign pull-right"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-8 ">  <!-- chart-panel style="width:530px;"-->
									<highchart  id="invstGrntBarChart" config="invstGrntBarChart" ></highchart>
								</div>
								<!-- <div class="col-md-4">
									<p class="fill-margin"></p>
									<div class="ioc-panel-desc">
										<p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p>
										<p><h4>{{sctyEduInvstmntGrwthRateComment}}</h4></p>
									</div>
								</div> -->
							</div>
						</div>
			</div>
			<div class="panel panel-primary">
					<div class="panel-heading">
						 教育拨款
						<span class="glyphicon glyphicon-question-sign pull-right"></span>
					</div>
					
					<div class="panel-body">
						<div class="row">
							<div class="col-md-7 chart-panel">
								<highchart  style="width:550px;" id="pubFinEduChart" config="pubFinEduChart" ></highchart>
							</div>
							<div class="col-md-5">
								<table class="table table-hover">
									<caption>{{lastYear}} 年教育拨款/财政收入</caption>
									<thead class="ioc-thead">
										<tr>
											<th>统计项目</th>
											<th class="t-right">统计值</th>
											<th>比上年同期增长</th>
										</tr>
									</thead>
    								<tr>
    									<td>公共财政预算教育拨款（万元）</td>
    									<td class="t-right">{{investGrntLastYearList[0].number}} 万元</td>
    									<td class="t-right">{{investGrntLastYearList[1].number}} %</td>
    								</tr>
    								
								</table>
		
								<p class="fill-margin"></p>
								<div class="ioc-panel-desc">
									<!-- <p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p> -->
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
						 财政收入
				<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
					
				<div class="panel-body">
					<div class="row">
						<div class="col-md-7 chart-panel">
							<highchart  style="width:550px;" id="financeRegIncomeChart" config="financeRegIncomeChart" ></highchart>
						</div>
						<div class="col-md-5">
							<table class="table table-hover">
								<caption>{{lastYear}} 年财政收入</caption>
								<thead class="ioc-thead">
									<tr>
										<th>统计项目</th>
										<th class="t-right">统计值</th>
										<th>比上年同期增长</th>
									</tr>
								</thead>
								<tr>
									<td>财政经常性收入（亿元）</td>
									<td class="t-right">{{investGrntLastYearList[2].number}} 亿元</td>
									<td class="t-right">{{investGrntLastYearList[3].number}} %</td>
								</tr>
								
							</table>
	
							<p class="fill-margin"></p>
							<div class="ioc-panel-desc">
								<!-- <p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					 公共财政预算教育拨款增长高于财政经常性收入增长
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-7 chart-panel">
							<highchart  style="width:550px;" id="HigherChart" config="HigherChart" ></highchart>
						</div>
						<div class="col-md-5">
							<table class="table table-hover">
								<caption>{{lastYear}} 年公共财政预算教育拨款增长高于财政经常性收入增长</caption>
								<thead class="ioc-thead">
									<tr>
										<th>统计项目</th>
										
										<th>比上年同期增长</th>
									</tr>
								</thead>
								<tr>
									<td>公共财政预算教育拨款增长高于财政经常性收入增长增减率</td>
									
									<td class="t-right">{{investGrntLastYearList[4].number}} %</td>
								</tr>
								
							</table>
	
							<p class="fill-margin"></p>
							<div class="ioc-panel-desc">
								<!-- <p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
						生均公共财政预算教育事业费支出增长情况
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-7 chart-panel">
							<highchart  id="perEduFundChart" style="width:550px;" config="perEduFundChart" ></highchart>
						</div>
						<div class="col-md-5">
							<table class="table table-hover">
								<caption><h4>{{lastYear}} 年生均公共财政预算教育事业费支出增长情况</h4></caption>
							</table>
							<h4>学校类别选择</h4>
							<div class="radio" ng-repeat="investGrntOne in perEduFundGrntList">
								<label>
									<input type="radio" ng-model="investGrntKindSelected" ng-value="investGrntOne.name" name="perEduFundGrntList" ng-click="investGrntKindChange(investGrntOne)">
						            <font size="3">{{investGrntOne.name}}</font>
						        </label>
							</div>
						</div>
					</div>
					<div>
						<!-- <p class="fill-margin"></p>
							<div class="ioc-panel-desc">
								<p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p>
								<p><h4>{{tchrGrntListCommentSelected}}</h4></p>
							</div> -->
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
						生均公共财政预算教育事业费支出增长增减率情况
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-7 chart-panel">
							<highchart  id="perEduFundRateChart" style="width:550px;" config="perEduFundRateChart" ></highchart>
						</div>
						<div class="col-md-5">
							<table class="table table-hover">
								<caption><h4>{{lastYear}} 年生均公共财政预算教育事业费支出增长增减率情况</h4></caption>
							</table>
							<h4>学校类别选择</h4>
							<div class="radio" ng-repeat="investGrntTwo in perEduFundGrntRateList">
								<label>
									<input type="radio" ng-model="investGrntRateKindSelected" ng-value="investGrntTwo.name" name="perEduFundGrntRateList" ng-click="investGrntRateKindChange(investGrntTwo)">
						            <font size="3">{{investGrntTwo.name}}</font>
						        </label>
							</div>
						</div>
					</div>
					<div>
						<!-- <p class="fill-margin"></p>
							<div class="ioc-panel-desc">
								<p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p>
								<p><h4>{{tchrGrntListCommentSelected}}</h4></p>
							</div> -->
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
						生均公共财政预算公用经费支出增长增减率情况
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-7 chart-panel">
							<highchart  id="perFundRateChart" style="width:550px;" config="perFundRateChart" ></highchart>
						</div>
						<div class="col-md-5">
							<table class="table table-hover">
								<caption><h4>{{lastYear}} 年生均公共财政预算公用经费支出增长增减率情况</h4></caption>
							</table>
							<h4>学校类别选择</h4>
							<div class="radio" ng-repeat="investpubGrntTwo in perFundGrntRateList">
								<label>
									<input type="radio" ng-model="investpubGrntRateKindSelected" ng-value="investpubGrntTwo.name" name="perFundGrntRateList" ng-click="investpubGrntRateKindChange(investpubGrntTwo)">
						            <font size="3">{{investpubGrntTwo.name}}</font>
						        </label>
							</div>
						</div>
					</div>
					<div>
						<!-- <p class="fill-margin"></p>
							<div class="ioc-panel-desc">
								<p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p>
								<p><h4>{{tchrGrntListCommentSelected}}</h4></p>
							</div> -->
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					 国家财政性教育经费占国内生产总值的比例
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-7 chart-panel">
							<highchart  style="width:550px;" id="stateChart" config="stateChart" ></highchart>
						</div>
						<div class="col-md-5">
							<table class="table table-hover">
								<caption>{{lastYear}} 年国家财政性教育经费占国内生产总值的比例</caption>
								<thead class="ioc-thead">
									<tr>
										<th>统计项目</th>
										<th class="t-right">统计值</th>
										<th>比上年同期增长</th>
									</tr>
								</thead>
								<tr>
									<td>国家财政性教育经费占国内生产总值的比例增减率</td>
									<td class="t-right">{{investGrntLastYearList[21].number}} %</td>
									<td class="t-right">{{investGrntLastYearList[22].number}} %</td>
								</tr>
								
							</table>
	
							<p class="fill-margin"></p>
							<div class="ioc-panel-desc">
								<!-- <p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					 公共财政预算教育经费占公共财政预算支出的比例
					<span class="glyphicon glyphicon-question-sign pull-right"></span>
				</div>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-7 chart-panel">
							<highchart  style="width:550px;" id="pubEduFinanceChart" config="pubEduFinanceChart" ></highchart>
						</div>
						<div class="col-md-5">
							<table class="table table-hover">
								<caption>{{lastYear}} 年公共财政预算教育经费占公共财政预算支出的比例</caption>
								<thead class="ioc-thead">
									<tr>
										<th>统计项目</th>
										<th class="t-right">统计值</th>
										<th>比上年同期增长</th>
									</tr>
								</thead>
								<tr>
									<td>公共财政预算教育经费占公共财政预算支出的比例增减率</td>
									<td class="t-right">{{investGrntLastYearList[23].number}} %</td>
									<td class="t-right">{{investGrntLastYearList[24].number}} %</td>
								</tr>
								
							</table>
	
							<p class="fill-margin"></p>
							<div class="ioc-panel-desc">
								<!-- <p class="ioc-panel-desc-title"><img src="/images/common/titles/one-sentence.png"/></p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>