.changepsw-module {
	background-color: #fff;
	.cell {
		.hd {
			padding: 2em 0;
			text-align: center;
			.page_title {
				text-align: center;
			    font-size: 34px;
			    color: rgb(60, 197, 31);
			    font-weight: 400;
			    margin: 0 15%;
			}
			img {
				
			}
		}
	}
	#commitpsw:focus, #commitpsw:active, #commitpsw:hover,{
		color: rgb(69, 69, 69);
		text-decoration: none;
	}
	.err {
		padding: 10px 15px 0 15px;
		color: $errMsg;
		font-size: 15px;
	}
	.succ {
		padding: 10px 15px 0 15px;
		color: $clevel1;	
		font-size: 15px;
	}
}