<div class="pshealthcare-module">
	<div class="tab-container">
		<div class="tabs">
			<div ng-class="{'tab-active': tab1, 'tab-inactive': tab2}" ng-click="changeChart('resource')">卫生资源</div><!--不要去掉这个注释
	 	 --><div ng-class="{'tab-active': tab2, 'tab-inactive': tab1}" ng-click="changeChart('service')">诊疗服务</div>
		</div>
		<div class="divider"></div>
	</div>
	<div class="d1">
		<div class="bar">
			{{title1}}
		</div>
		<div class="content">
			<div class="dd">
				<div ng-if="tab1">
					<div style="text-align:center;line-height:15px;margin:17px 0;">
						<span style="font-size:15px;">{{medicalInstitutionsLastYear}} 年末全市医疗机构情况分布</span>
					</div>
					<table class="table">
						<tr ng-repeat="institution in medicalInstitutions">
							<td>{{institution.name}}</td>
							<td align="right">{{institution.number}}家</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="chart-area" ng-hide="tab1">
				<highchart config="chart3"></highchart>
			</div>
			<div class="chart-area" ng-if="tab1" >
				<highchart config="chart2"></highchart>
			</div>
			<div class="key-value-area1">
				<i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
				<span name="" id="psHealthcareToggleButton" class="toggle-button">{{typeTitle}}</span>
			</div>
			<div class="distribute-area">
				<div class="toggle-panel"  id="psHealthcareTogglePanel">
					<input class="toggle-item" type="button" ng-repeat="item in list" ng-click="changeChoice(item)" value="{{item.name}}" name="">
				</div>
			</div>
			<div class="chart-area">
				<highchart config="chart1"></highchart>
			</div>
		</div>
	</div>
	<div class="d2" ng-if="tab1">
		<div class="bar">
			卫生技术人员
		</div>
		<div class="content">
			<div class="chart-area">
				<highchart config="medicalWorkersPieChart"></highchart>
			</div>
			<div class="chart-area">
				<highchart config="medicalWorkersByKindLineChart"></highchart>
			</div>
		</div>
	</div>
	<div class="d2" ng-if="tab1">
		<div class="bar">
			病床
		</div>
		<div class="content">
			<div class="chart-area">
				<highchart config="medicalBedsColumnChart"></highchart>
			</div>
		</div>
	</div>
</div>