<div class="hlthPblcHlth-module">
	<div class="tab-container">
		<div class="tabs">
			<div ng-class="{'tab-active':tab1,'tab-inactive':!tab1}" ng-click="changeChart('infection')">传染病</div><div ng-class="{'tab-active':tab2,'tab-inactive':!tab2}" ng-click="changeChart('lifetime')">期望寿命</div><div ng-class="{'tab-active':tab3,'tab-inactive':!tab3}" ng-click="changeChart('mc')">妇幼</div>
		</div>
		<div class="divider"></div>
	</div>
	<div class="d1">
		<div class="bar">
			{{title1}}
		</div>
		<div class="content">
			<div ng-show="tab1">
				<div style="text-align:center;line-height:15px;margin:17px 0;">
					<span style="font-size:15px;">{{displayYear}} 年 {{infectiousDiseasesLastMonth}} 月全市主要传染病分布情况</span>
				</div>
				<table class="table">
					<tr ng-repeat="disease in infectiousDiseases">
						<td>{{disease.name}}</td>
						<td align="right">{{disease.number}}家</td>
					</tr>
				</table>
			</div>
			<div class="chart-area" ng-show="!tab3">
				<highchart config="chart2"></highchart>
			</div>
			<div class="key-value-area1">
				<i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
				<span name="" id="psHealthcareToggleButton" class="toggle-button">{{type}}</span>
			</div>
			<div class="type-toggle-area">
				<div class="toggle-panel" id="psHealthcareTogglePanel">
					<input class="toggle-item" type="button" ng-repeat="item in list" ng-click="changeChoice(item)" value="{{item.name}}" name="">
				</div>
			</div>
			<div class="chart-area">
				<highchart config="chart1"></highchart>
			</div>
		</div>
	</div>
</div>