<ul class="nav nav-tabs">
    <li class="active" ng-click="show()">
        <a style="font-size: 20px" data-toggle="tab">卫生资源</a>
    </li>
    <li ng-click="show2()">
        <a style="font-size: 20px" data-toggle="tab">诊疗服务</a>
    </li>
</ul>
<div ng-show="tab1">
    <div class="container">
		<tabset>
			<tab heading="卫生资源" id="tab_MedicalInstitutions">
				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-heading">
								医疗机构
							<span class="glyphicon glyphicon-question-sign pull-right"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="chart-panel">
									<highchart  id="medicalInstitutionSumChart" config="medicalInstitutionSumChart" ></highchart>
								</div>
								<div>
									<table class="table">
										<th>
											<td ><font size="3">{{medicalInstitutionsLastYear}} 年末全市医疗机构情况分布</font></td>
										</th>
	    								<tr ng-repeat="institution in medicalInstitutions">
	    									<td><font size="2">{{institution.name}}</font></td>
	    									<td class="t-right"><font size="2">{{institution.number}}家</font></td>
	    								</tr>
									</table>

								</div>
							</div>
							<div><br><hr><br></div>
							<div class="row">
								<div class="chart-panel">
									<highchart  id="medicalInstitutionSumByKindChart"  config="medicalInstitutionSumByKindChart" ></highchart>
								</div>
								<div>
									<h4>医院类别选择</h4>
									<div class="radio" ng-repeat="medicalInstitutionSumOne in medicalInstitutionByKindSumList">
										<label>
											<input type="radio" ng-model="medicalInstitutionSelected" ng-value="medicalInstitutionSumOne.name" name="medicalInstitutionByKindSumList" ng-click="medicalInstitutionKindChange(medicalInstitutionSumOne)">
								            <font size="2">{{medicalInstitutionSumOne.name}}</font>
								        </label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
								卫生技术人员
							<span class="glyphicon glyphicon-question-sign pull-right"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="chart-panel">
									<highchart  id="medicalWorkersPieChart" config="medicalWorkersPieChart"></highchart>
								</div>
								<div class="chart-panel">
									<highchart  id="medicalWorkersByKindLineChart" config="medicalWorkersByKindLineChart" ></highchart>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
								病床
							<span class="glyphicon glyphicon-question-sign pull-right"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<highchart  id="medicalBedsColumnChart" config="medicalBedsColumnChart"></highchart>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>
<div ng-show="tab2">
    <div class="container">
		<tabset>
			<tab heading="诊疗服务" id="tab_MedicalInstitutions">
				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-heading">
								诊疗服务
							<span class="glyphicon glyphicon-question-sign pull-right"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div>
									<highchart id="medicalServiceColumnChart1" config="medicalServiceColumnChart1" ></highchart>
								</div>
								<div>
									<highchart  id="medicalServiceColumnChart2" config="medicalServiceColumnChart2" ></highchart>
								</div>
							</div>
							<div><br><hr><br></div>
							<div class="row">
								<div class="chart-panel">
									<highchart  id="medicalServiceByKindLineChart" config="medicalServiceByKindLineChart" ></highchart>
								</div>
								<div>
									<h4>诊疗类别选择</h4>
									<div class="radio" ng-repeat="medicalServicePatientsOne in medicalServicePatientsByKindList">
										<label>
											<input type="radio" ng-model="medicalServiceSelected" ng-value="medicalServicePatientsOne.name" name="medicalServicePatientsByKindList" ng-click="medicalServiceKindChange(medicalServicePatientsOne)">
								            <font size="2">{{medicalServicePatientsOne.name}}</font>
								        </label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>
