<div ui-state="activeTab" default="1">
  <ul class="nav nav-tabs">
    <div style="display: flex;display: -webkit-flex;flex-direction: row;">
    <div style="width: 50%;height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content:center;align-items: center;" class="economyactive" ng-click="tab1()" id="tab1">
      <div>数据详情</div>
    </div> 
    <div style="width: 50%;height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content:center;align-items: center;" class="economyinactive" ng-click="tab2()" id="tab2">
      <div>数据走势</div>
    </div>
  </ul>

  <div ng-if="newtab1" >
  <div class="scrollable"style="margin-top: 50px;height:{{newheight}}px" id="container">
    <div class="scrollable-content" ng-click="show()"  >
     <div style="height: 30px; display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <div style="width: 100%;height: 30px;box-shadow: 3px 3px 6px -4px white;border-radius: 5px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <span style="font-size: 2em">GDP数据详情</span>
      </div>
      </div>
     <div style="height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
       <span class="label label-primary">统计局</span>
        <span class="label" style="color: black;margin-left: 5px">时间:{{lastestYM.year}}年{{lastestYM.month}}月</span>
         <span class="label" style="color: black">每月更新</span>
     </div>
<div style="width: 100%;height: 450px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
  <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
    <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(92,95,105,.7);color: white" class="economyclick">
      <span>GDP本年累计额</span>
      <span style="font-size: 2em;margin-top: 30px">{{GDPaccm}}亿元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{GDPaccmRate}}%</span>
    </div>
   <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(116,140,146,.7);color: white" class="economyclick">
      <span>第一产业GDP累计额</span>
      <span style="font-size: 2em;margin-top: 30px">{{gdptable.ONE_GDP.chartData[0].accmAmount}}亿元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{gdptable.ONE_GDP.chartData[0].accmRate}}%</span>
    </div>
    <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(151,87,89,.7);color: white" class="economyclick">
      <span>第二产业GDP累计额</span>
      <span style="font-size: 2em;margin-top: 30px">{{gdptable.TWO_GDP.chartData[0].accmAmount}}亿元</span>
       <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{gdptable.TWO_GDP.chartData[0].accmRate}}%</span>
    </div>
     <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(83,54,68,.7);color: white" class="economyclick">
      <span>第三产业GDP累计额</span>
      <span style="font-size: 2em;margin-top: 30px">{{gdptable.THREE_GDP.chartData[0].accmAmount}}亿元</span>
      <span style="font-size: 1.5em;margin-top: 40px"><i class="fa fa-level-up" aria-hidden="true" style="color: green"></i>{{gdptable.THREE_GDP.chartData[0].accmRate}}%</span>
    </div>
  </div>
</div>
</div>
</div>
  </div>

  <div ng-if="newtab2">
  <div class="scrollable"style="margin-top: 50px;height:{{newheight}}px"id="container2">
    <div class="scrollable-content" ng-click="show()" >
      <div style="height: 30px; display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <div style="width: 100%;height: 30px;box-shadow: 3px 3px 6px -4px white;border-radius: 5px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <span style="font-size: 2em">GDP数据全年走势</span>
      </div>
      </div>
     <div style="height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
       <span class="label label-primary">统计局</span>
        <span class="label" style="color: black;margin-left: 5px">时间:{{lastestYM.year}}年{{lastestYM.month}}月</span>
         <span class="label" style="color: black">每月更新</span>
     </div>
      <div class="panel-group" ui-state="myAccordion" ui-default="2">
    <div class="panel panel-default" style="border-bottom: 1px solid rgb(51,153,204)">
        <div class="panel-heading" ui-set="{'myAccordion': 2}" style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color: white">
              国内生产总值全年走势
          </h4>
        </div>
        <div ui-if="myAccordion == 2">
          <div class="panel-body">
             <highchart config="firstchart"  id="secondchart" style="height: 450px"  class="economyfade"></highchart>
          </div>
        </div>
      </div>
      <div class="panel panel-default"  style="border-bottom: 1px solid rgb(51,153,204)">
    <div class="panel-heading" ui-set="{'myAccordion': 1}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color: white">
          国内生产总值(分类)全年走势
      </h4>
    </div>
    <div ui-if="myAccordion == 1">
      <div class="panel-body">
        <highchart config="secondchart"  id="firstchart" style="height: 450px"  class="economyfade"></highchart>
      </div>
    </div>
  </div>
    </div>
  
</div>
    </div>
  </div>
</div>



  