<div  ui-state="activeTab" default="1">
    <ul class="nav nav-tabs">
        <li ui-class="{'active':activeTab==1}" style="width: 25%">
            <a ui-set="{'activeTab':1}">土地使用当前数据</a>
        </li>
        <li ui-class="{'active':activeTab==2}" style="width: 25%">
            <a ui-set="{'activeTab':2}">土地使用历史数据</a>
        </li>
        <li ui-class="{'active':activeTab==3}" style="width: 25%">
            <a ui-set="{'activeTab':3}">土地执法当前数据</a>
        </li>
        <li ui-class="{'active':activeTab==4}" style="width: 25%">
            <a ui-set="{'activeTab':4}">土地执法历史数据</a>
        </li>
    </ul>
    <div ui-if="activeTab==1">
        <h3 class="page-header">土地使用 当前数据</h3>
        <div class="col-md-4">
            <highchart config="landUseOption.allOption"></highchart>
        </div>
        <br/>
        <div class="col-md-4">
            <highchart config="landUseOption.increaseOption"></highchart>
        </div>
        <br/>
        <div class="col-md-4">
            <highchart config="landUseOption.decreaseOption"></highchart>
        </div>
    </div>
    <div ui-if="activeTab==2">
        <h3 class="page-header">土地使用 历史数据</h3>
        <div class="col-md-4">
            <highchart config="landUseOption.grantOption"></highchart>
        </div>
        <br/>
        <div class="col-md-3">
            <h4>土地出让指标选择</h4>
                <ul class="nav nav-tabs">
                    <li style="width: 50%" ng-repeat="landUseOne in landUseGrantList">
                        <a ng-model="landUseGrantListSelected"
                           ng-value="landUseOne" name="landUseGrantListRadio"
                           ng-click="landUseGrantListChange(landUseOne)">{{landUseOne}}</a>
                    </li>
                </ul>
        </div>
        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
        <br/>
        <div class="col-md-4">
            <highchart config="landUseOption.detailOption"></highchart>
        </div>
        <br/>
        <div class="col-md-3">
            <h4>土地类型选择</h4>
            <ul class="nav nav-tabs">
                <li style="width: 50%" ng-repeat="landUseOne in landUseDetailList">
                    <a ng-model="landUseOneDetailListSelected"
                       ng-value="landUseOne" name="landUseDetailListRadio"
                       ng-click="landUseDetailListChange(landUseOne)">{{landUseOne}}面积</a>
                </li>
            </ul>
        </div>
    </div>
    <div ui-if="activeTab==3">
        <h3 class="page-header">土地执法 当前数据</h3>
        <div class="col-md-4">
            <highchart config="landIllegalOption.allOption"></highchart>
        </div>
        <br/>
        <div class="col-md-4">
            <highchart config="landIllegalOption.increaseOption"></highchart>
        </div>
        <br/>
        <div class="col-md-4">
            <highchart config="landIllegalOption.decreaseOption"></highchart>
        </div>
    </div>
    <div ui-if="activeTab==4">
        <h3 class="page-header">土地执法 历史数据</h3>
        <div class="col-md-4">
            <highchart config="landIllegalOption.detailOption"></highchart>
        </div>
        <br/>
        <div class="col-md-3">
            <h4>土地执法指标选择</h4>
            <ul class="nav nav-tabs">
                <li style="width: 50%" ng-repeat="landIllegalOne in landIllegalIndexList">
                    <a ng-model="landIllegalIndexListSelected"
                       ng-value="landIllegalOne" name="landIllegalIndexListRadio"
                       ng-click="landIllegalIndexListChange(landIllegalOne)">违法用地{{landIllegalOne}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>