<div class="land-three-module">
    <div class="tab-container">
        <div class="tabs">
            <div ng-class="{'tab-active': tab1, 'tab-inactive': tab2}" ng-click="landUseFunction()">
                土地使用
            </div><!--
         --><div ng-class="{'tab-active': tab2, 'tab-inactive': tab1}" ng-click="landIllegalFunction()">
                土地执法
            </div>
        </div>
        <div class="divider"></div>
    </div>
    <div ng-if="tab1">
        <div class="d1">
            <div class="bar">
                土地使用 当前数据
            </div>
            <div class="content">
                <div>
                    <highchart config="landUseOption.allOption"></highchart>
                </div>
                <div class="divide-line"></div>
                <div>
                    <highchart config="landUseOption.increaseOption"></highchart>
                </div>
                <div class="divide-line"></div>
                <div>
                    <highchart config="landUseOption.decreaseOption"></highchart>
                </div>
            </div>
        </div>
        <div class="d2">
            <div class="bar">
                土地使用 历史数据
            </div>
            <div class="content">
                <div class="key-value-area">
                    <i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
                    <span ng-click="useGantSelectFun()" class="toggle-button">土地出让指标选择</span>
                </div>
                <div class="town-toggle-area">
                    <div class="toggle-panel" ng-if="useGrantPanel">
                        <input class="toggle-item" type="button" ng-repeat="landUseOne in landUseGrantList"
                               value="{{landUseOne}}" ng-model="landUseGrantListSelected" name="landUseGrantListRadio"
                               ng-click="landUseGrantListChange(landUseOne)">
                    </div>
                </div>
                <div class="chart-area">
                    <highchart config="landUseOption.grantOption"></highchart>
                </div>
                <div class="divide-line"></div>
                <div class="key-value-area">
                    <i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
                    <span id="useDetailSelectBtn" ng-click="useDetailSelectFun()" class="toggle-button">土地类型选择</span>
                </div>
                <div class="town-toggle-area">
                    <div class="toggle-panel" ng-if="useDetailPanel">
                        <input class="toggle-item" type="button" ng-repeat="landUseOne in landUseDetailList"
                               value="{{landUseOne}}" ng-model="landUseOneDetailListSelected" name="landUseDetailListRadio"
                               ng-click="landUseDetailListChange(landUseOne)">
                    </div>
                </div>
                <div class="chart-area">
                    <highchart config="landUseOption.detailOption"></highchart>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="tab2">
        <div class="d1">
            <div class="bar">
                土地执法 当前数据
            </div>
            <div class="content">
                <div>
                    <highchart config="landIllegalOption.allOption"></highchart>
                </div>
                <div class="divide-line"></div>
                <div>
                    <highchart config="landIllegalOption.increaseOption"></highchart>
                </div>
                <div class="divide-line"></div>
                <div>
                    <highchart config="landIllegalOption.decreaseOption"></highchart>
                </div>
            </div>
        </div>

        <div class="d2">
            <div class="bar">
                土地执法 历史数据
            </div>
            <div class="content">
                <div class="key-value-area">
                    <i class="fa fa-hand-o-right i-label" aria-hidden="true"></i>
                    <span ng-click="illegalDetailSelectFun()" class="toggle-button">土地执法指标选择</span>
                </div>
                <div class="town-toggle-area">
                    <div class="toggle-panel" ng-if="illegalDetailPanel">
                        <input class="toggle-item" type="button" ng-repeat="landIllegalOne in landIllegalIndexList"
                               value="违法用地{{landIllegalOne}}" ng-model="landIllegalIndexListSelected" name="landIllegalIndexListRadio"
                               ng-click="landIllegalIndexListChange(landIllegalOne)">
                    </div>
                </div>
                <div class="chart-area">
                    <highchart config="landIllegalOption.detailOption"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>