<div ui-state="activeTab" default="1">
<ul class="nav nav-tabs">
    <div style="display: flex;display: -webkit-flex;flex-direction: row;">
    <div style="width: 50%;height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content:center;align-items: center;" class="economyactive" ng-click="tab1()" id="tab1">
      <div>数据详情</div>
    </div> 
    <div style="width: 50%;height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content:center;align-items: center;" class="economyinactive" ng-click="tab2()" id="tab2">
      <div>数据走势</div>
    </div>
  </ul>

  <div ng-if="newtab1">
  <div class="scrollable"style="margin-top:50px;height:{{newheight}}px">
  <div class="scrollable-content" >    
    <div style="height: 30px; display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <div style="width: 100%;height: 30px;box-shadow: 3px 3px 6px -4px white;border-radius: 5px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <span style="font-size: 2em">金融数据详情</span>
      </div>
      </div>
     <div style="height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
       <span class="label label-primary">统计局</span>
        <span class="label" style="color: black;margin-left: 5px">统计时间: {{lastestObject.year}} 年 {{lastestObject.month}} 月</span>
         <span class="label" style="color: black">每月更新</span>
     </div>


      <div class="panel-group" ui-state="myAccordion" ui-default="2">
       <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 2}" style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color: white">
             金融机构存款与贷款余额
          </h4>
        </div>
        <div ui-if="myAccordion == 2">
          <div class="panel-body" >
             <div style="width: 100%;height: 450px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;" >
              <div style="width: 80%;height: 400px;display: flex;display:-webkit-flex;flex-direction: row;justify-content: center;align-items: flex-start;flex-wrap: wrap;">
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(92,95,105,.7);color: white" class="economyclick"   >
                  <span>{{tables.rTable[0].key}}</span>
                  <span style="font-size: 2em;margin-top: 30px">{{tables.rTable[0].remain | number:1}}亿元</span>
                  <span style="font-size: 1.5em;margin-top: 40px">比年初增减额：{{tables.rTable[0].rateWithOpen | number:1}} 亿元</span>
                </div>
                 <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(116,140,146,.7);color: white" class="economyclick"   >
                  <span>{{tables.rTable[1].key}}</span>
                  <span style="font-size: 2em;margin-top: 30px">{{tables.rTable[1].remain | number:1}}亿元</span>
                  <span style="font-size: 1.5em;margin-top: 40px">比年初增减额：{{tables.rTable[1].rateWithOpen | number:1}} 亿元</span>
                </div>
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(151,87,89,.7);color: white" class="economyclick"   >
                  <span>{{tables.fTable[0].key}}</span>
                  <span style="font-size: 2em;margin-top: 30px">{{tables.fTable[0].remain | number:1}}亿元</span>
                  <span style="font-size: 1.5em;margin-top: 40px">比年初增减额：{{tables.fTable[0].rateWithOpen | number:1}} 亿元</span>
                </div>
                <div style="width: 50%;height: 200px;display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(92,95,105,.7);color: white" class="economyclick"   >
                  <span>{{tables.fTable[1].key}}</span>
                  <span style="font-size: 2em;margin-top: 30px">{{tables.fTable[1].remain | number:1}}亿元</span>
                  <span style="font-size: 1.5em;margin-top: 40px">比年初增减额：{{tables.fTable[1].rateWithOpen | number:1}} 亿元</span>
                </div>
              </div>
           </div>
          </div>
        </div>
      </div>
  </div>
  </div>
   </div>
 
  </div>

  <div ng-if="newtab2">
  <div class="scrollable"style="margin-top: 50px;height:{{newheight}}px">
  <div class="scrollable-content" ng-click="show()">
     <div style="height: 30px; display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <div style="width: 100%;height: 30px;box-shadow: 3px 3px 6px -4px white;border-radius: 5px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: center;align-items: center;">
      <span style="font-size: 2em">金融数据全年走势</span>
      </div>
      </div>
     <div style="height: 40px;display: flex;display: -webkit-flex;flex-direction: row;justify-content: space-around;align-items: center;">
       <span class="label label-primary">统计局</span>
         <span class="label" style="color: black">每月更新</span>
     </div>
        <div class="panel-group" ui-state="myAccordion" ui-default="2">
    <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 2}" style="background-color: rgb(51,153,204);">        
          <h4 class="panel-title" style="color: white">
              金融机构存款余额
          </h4>
        </div>
        <div ui-if="myAccordion == 2">
          <div class="panel-body">
            <highchart config="FinanceKeepingChart"  id="FinanceKeepingChart" style="height: 450px"></highchart>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
    <div class="panel-heading" ui-set="{'myAccordion': 1}" style="background-color: rgb(51,153,204);">        
      <h4 class="panel-title" style="color: white">
          金融机构贷款余额
      </h4>
    </div>
    <div ui-if="myAccordion == 1">
      <div class="panel-body">
        <highchart config="FinanceLoanChart"  id="FinanceLoanChart" style="height: 450px" ></highchart>
      </div>
    </div>
  </div>
    </div>
  </div>
  </div>
  </div>
</div>
